<main class="main-content  mt-0">
  <div class="page-header align-items-start min-vh-100" style="background-image: url('assets/img/login-bg.avif');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign in</h4>
              </div>
            </div>
            <div class="card-body">
              <form role="form" [formGroup]="form" class="text-start" (ngSubmit)="login()">

                <mat-form-field class="example-form-field" appearance="outline" class="text-xs">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput type="email"
                    [ngClass]="(form.controls['email'].dirty || form.controls['email'].touched) && form.hasError('required','email')==true? 'border-danger': ''">
                  <mat-icon matSuffix>email</mat-icon>
                  <small class="text-danger float-end"
                    *ngIf="(form.controls['email'].dirty || form.controls['email'].touched) && form.hasError('required','email')">
                  </small>
                </mat-form-field>


                <mat-form-field class="example-form-field" appearance="outline" class="text-xs">
                  <mat-label>Password</mat-label>
                  <input formControlName="password" matInput type="password" [type]="showPassword ? 'text' : 'password'" name="password"
                    [ngClass]="(form.controls['password'].dirty || form.controls['password'].touched) && form.hasError('required','password')==true? 'border-danger': ''">
                  <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword?'visibility_off':'visibility'}}
                  </mat-icon>
                  <small class="text-danger text-xxs float-end"
                    *ngIf="(form.controls['password'].dirty || form.controls['password'].touched) && form.hasError('required','password')">
                  </small>
                </mat-form-field>
                <div class="text-left">
                  <small class="text-danger mb-4" *ngIf="hasError">
                    *incorrect email/password
                  </small>
                </div>
                <div class="text-center">
                  <button [disabled]="form.invalid || isLoading" type="submit"
                    class="btn bg-gradient-primary w-100 my-4 mb-2">
                    <span *ngIf="!this.isLoading">Sign In</span>
                    <div class="spinner-border spinner-border-sm text-light" role="status" *ngIf="this.isLoading">
                    </div>
                  </button>
                </div>
                <!-- <p class="mt-4 text-sm text-center">
                  Don't have an account?
                  <a class="text-primary text-gradient font-weight-bold">Sign up</a>
                </p> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
