  <div class="container-fluid py-1">
    <div class="float-start">
      <button (click)="toggleSideNavShow() ; formReset();"type="button" class="btn bg-gradient-primary mx-2 mb-4 text-right"
      data-bs-toggle="modal" data-bs-target="#modal-form">
        Create User
      </button>
    </div>
<!-- create user form -->
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
          <div class="modal-content">
            <div class="modal-body p-0">
              <div class="card card-plain">
                <div class="card-header pb-0 text-left">
                  <h5 class="">User
                    <span class="text-right float-end">
                      <button data-bs-dismiss="modal"
                        class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                        <i class="material-icons" style="font-size: 30px">close</i>
                      </button>
                    </span>
                  </h5>
                  <p class="mb-0">Enter User Details</p>
                </div>
                <div class="card-body">
                  <form [formGroup]="form" (ngSubmit)="submitForm()" role="form">
                    <div class="row">
                        <div class="my-1">
                          <label class="form-label text-bold">Name</label>
                          <div class="input-group input-group-outline">
                            <input type="text" formControlName="name" class="form-control" placeholder="Please Enter Name" />
                          </div>
                        </div>
                        <div class="my-1">
                          <label class="form-label text-bold">Email</label>
                          <div class="input-group input-group-outline">
                            <input type="email" formControlName="email" class="form-control" placeholder="Please Enter email"
                               />
                          </div>
                        </div>
                        <div class="my-1">
                          <label class="form-label text-bold">Role</label>
                          <div class="input-group input-group-outline">
                            <input type="text" formControlName="role" class="form-control" placeholder="Please Enter User Role"
                             />
                          </div>
                        </div>
                        <div class="my-1">
                          <label class="form-label text-bold">Status</label>
                          <div class="input-group input-group-outline">
                            <input type="text" formControlName="status" class="form-control" placeholder="Please Enter User Status"
                            />
                          </div>
                        </div>
                      </div>
                    <div class="text-center mt-2">
                      <button type="submit" data-bs-dismiss="modal"
                        class="btn bg-gradient-primary m-2">
                        Create
                      </button>
                      <button (click)="formReset();" type="button" data-bs-dismiss="modal"
                        class="btn bg-gradient-secondary m-2">
                        Cancel
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="mt-6">
      <app-userstable [userArray]="userArray"></app-userstable>
    </div>
  </div>
