<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header bg-gradient-primary">
        <h5 class="text-bold text-white">Chart 1</h5>
      </div>
      <div class="card-body justify-content-center">
        <canvasjs-chart [options]="chartOptions" [styles]="{width: 'auto', height:'250px'}"></canvasjs-chart>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header bg-gradient-primary">
        <h5 class="text-bold text-white">Chart 2</h5>
      </div>
      <div class="card-body">
          <canvasjs-chart [options]="chartOptions" (chartInstance)="getChartInstance($event)" [styles]="{width: 'auto', height: '250px'}"></canvasjs-chart>
          <button class="btn btn-primary btn-sm" *ngIf="this.isButtonVisible" (click)="handleClick($event)">Back</button>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header bg-gradient-primary">
        <h5 class="text-bold text-white">Chart 3</h5>
      </div>
      <div class="card-body">
        <canvasjs-chart [options]="chartOptions3" [styles]="{width: '100%', height:'250px'}"></canvasjs-chart>
      </div>
    </div>
  </div>

</div>
