<div class="row mx-1">
  <div class="col-12">
    <div class="card my-1">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <p class="text-white text-capitalize text-bold ps-3">
            Master Templates Table
          </p>
        </div>
      </div>
      <div class="card-body px-0">
        <div class="d-flex justify-content-center">
          <div class="spinner-border mt-6" *ngIf="isLoading"></div>
        </div>
        <div class="flex-end px-3 col-md-3 mt-4" *ngIf="!isLoading">
          <mat-form-field class="example-form-field" appearance="outline" class="text-xs">
            <mat-label>Search Assets</mat-label>
            <input matInput type="text" [(ngModel)]="assetSearchText">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="p-0 table-responsive custom-table" *ngIf="!isLoading">
          <table class="table table-blocked table-hover mb-0" ng-focus="table" matSort
            (matSortChange)="sortAssets($event)">
            <thead>
              <tr>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-3">
                  &nbsp;Actions
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder" mat-sort-header="masterId">
                  Id
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2 descExpand"
                  mat-sort-header="unitDescription">
                  Unit Description
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="oldAssetType">
                  Asset Type
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="newAssetType">
                  New Asset Type
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="oldDescription">
                  App Description
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="masterStyle">
                  Style
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="masterSize">
                  Size
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="dutyApplication">
                  Duty / Application
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="quality">
                  quality
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="unitMeasurement">
                  Unit Measurement
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="replacementCost">
                  Replacement Cost
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="lifeMonths">
                  Life Months
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="OHLife">
                  Overhaul Life
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="rev">
                  Rev
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="newDescription">
                  New Asset Type Unit Description
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="approvedBy">
                  Approved By
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let master of sortedMasters| searchFilter: assetSearchText  |  paginate: { itemsPerPage: 50, currentPage: p }
                ">
                <td>
                  <div class="d-flex mx-2">
                    <div class="d-flex flex-column">
                      <div ngbDropdown>
                        <button class="btn btn-sm bg-gradient-primary mb-0" id="gfg" ngbDropdownToggle>
                          Actions
                        </button>
                        <div ngbDropdownMenu="gfg"
                          style="margin-top: 0 !important; position: absolute; z-index: 10000;">
                          <button ngbDropdownItem (click)="viewMaster(master.masterId)" data-bs-toggle="modal"
                            data-bs-target="#modal-form-view">
                            <i class="material-icons">visibility</i>
                            &nbsp;View
                          </button>
                          <button ngbDropdownItem (click)="editMaster(master.masterId)" data-bs-toggle="modal"
                            data-bs-target="#modal-form-create">
                            <i class="material-icons">edit</i>&nbsp;
                            Edit
                          </button>
                          <button ngbDropdownItem (click)="onDuplicate(master.masterId)">
                            <i class="material-icons">copy</i>&nbsp;
                            Duplicate
                          </button>
                          <button ngbDropdownItem class="text-danger" (click)="deleteMaster(master.masterId)">
                            <i class="material-icons">delete</i>&nbsp;
                            Delete
                          </button>

                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-3 py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ master.masterId }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1" id="unit">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm descExpand">{{ getDisplayText(master)}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm ">{{ master.oldAssetType }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ master.newAssetType }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm colExpand">{{ master.oldDescription }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm colExpand">{{ master.masterStyle }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm colExpand">{{ master.masterSize }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ master.dutyApplication }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ master.quality }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ master.unitMeasurement }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ master.replacementCost | currency : "USD" : 'symbol' : '1.0-0'}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">
                        {{ master.lifeMonths }}
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">
                        {{ master.overhaulLife }}
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm sColSpan">{{ master.rev ? master.rev : null | date}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm descExpand">{{ master.newDescription }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm descExpand">{{ master.approvedBy }}</p>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 pagination-div">
          <pagination-controls class="user-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
