<div class="row mx-1">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <p class="text-white text-capitalize text-bold ps-3">
            Assets Table
          </p>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="flex-end px-3 pb-3 col-md-3">
          <mat-form-field class="example-form-field" appearance="outline" class="text-xs">
            <mat-label>Search assets</mat-label>
            <input matInput type="text" [(ngModel)]="assetSearchText">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="p-0 table-responsive">
          <table class="table table-blocked table-hover mb-0" matSort (matSortChange)="sortAssets($event)">
            <thead>
              <tr>
                <th class="text-uppercase text-bold text-xs font-weight-bolder" mat-sort-header="id">
                  Id
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="unitDesc">
                  Unit Desc
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="appDesc">
                  AppDesc
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="unitMeas">
                  UnitMeas
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="rev">
                  Rev
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="replCost">
                  Repl Cost
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="lifeMOs">
                  Lifemos
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="OHLife">
                  OH Life
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-3">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let asset of sortedAssets | searchFilter: assetSearchText
                ">
                <td>
                  <div class="d-flex px-3 py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ asset.id }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ asset.unitDesc }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ asset.appDesc }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ asset.unitMeas }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ asset.rev | currency }}</p>
                    </div>
                  </div>
                </td>

                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">
                        {{ asset.replCost | currency }}
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ asset.lifeMOs }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">
                        {{ asset.OHLife / 100 | percent }}
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <div ngbDropdown>
                        <button class="btn btn-sm bg-gradient-primary" id="gfg" ngbDropdownToggle>
                          Actions
                        </button>
                        <div ngbDropdownMenu="gfg">
                          <button ngbDropdownItem class="" data-bs-toggle="modal" data-bs-target="#modal-form-view"
                            (click)="viewAsset(asset)">
                            <i class="material-icons">visibility</i>
                            &nbsp;View
                          </button>
                          <button ngbDropdownItem class="" (click)="editAsset(asset)" data-bs-toggle="modal"
                            data-bs-target="#modal-form">
                            <i class="material-icons">edit</i>&nbsp;
                            Edit
                          </button>
                          <button ngbDropdownItem class="">
                            <i class="material-icons">content_copy</i>&nbsp;
                            Duplicate
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
