<div class="modal-dialog modal-fullscreen modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card card-plain">
        <div class="card-header pb-0">
          <div class="text-left">
            <h5 class="">
              Master Form
              <span class="text-right float-end">
                <button (click)="resetForm()" data-bs-dismiss="modal"
                  class="btn btn-link text-dark p-0 fixed-plugin-close-button mt-0">
                  <i class="material-icons" style="font-size: 30px">close</i>
                </button>
              </span>
            </h5>
            <p class="mb-0">Asset</p>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center" *ngIf="isLoading">
            <div class="spinner-border"></div>
          </div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <div class="row">
              <div class="col-md-6">

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Old AssetType</mat-label>
                  <input formControlName="oldAssetType" matInput type="text" [ngClass]="
                    (form.controls['oldAssetType'].dirty ||
                      form.controls['oldAssetType'].touched) &&
                    form.hasError('required', 'oldAssetType') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['oldAssetType'].dirty ||
                      form.controls['oldAssetType'].touched) &&
                    form.hasError('required', 'oldAssetType')
                  ">
                    old assetType is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Master Style</mat-label>
                  <input formControlName="masterStyle" matInput type="text" [ngClass]="
                    (form.controls['masterStyle'].dirty ||
                      form.controls['masterStyle'].touched) &&
                    form.hasError('required', 'masterStyle') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['masterStyle'].dirty ||
                      form.controls['masterStyle'].touched) &&
                    form.hasError('required', 'masterStyle')
                  ">
                    master style is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">New AssetType</mat-label>
                  <input formControlName="newAssetType" matInput type="text" [ngClass]="
                    (form.controls['newAssetType'].dirty ||
                      form.controls['newAssetType'].touched) &&
                    form.hasError('required', 'newAssetType') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['newAssetType'].dirty ||
                      form.controls['newAssetType'].touched) &&
                    form.hasError('required', 'newAssetType')
                  ">
                    new assetType is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Master Size</mat-label>
                  <input formControlName="masterSize" matInput type="text" [ngClass]="
                    (form.controls['masterSize'].dirty ||
                      form.controls['masterSize'].touched) &&
                    form.hasError('required', 'masterSize') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['masterSize'].dirty ||
                      form.controls['masterSize'].touched) &&
                    form.hasError('required', 'masterSize')
                  ">
                    master size is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Old Description</mat-label>
                  <input formControlName="oldDescription" matInput type="text" [ngClass]="
                    (form.controls['oldDescription'].dirty ||
                      form.controls['oldDescription'].touched) &&
                    form.hasError('required', 'oldDescription') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['oldDescription'].dirty ||
                      form.controls['oldDescription'].touched) &&
                    form.hasError('required', 'oldDescription')
                  ">
                    old description is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">New Description</mat-label>
                  <input formControlName="newDescription" matInput type="text" [ngClass]="
                    (form.controls['newDescription'].dirty ||
                      form.controls['newDescription'].touched) &&
                    form.hasError('required', 'newDescription') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['newDescription'].dirty ||
                      form.controls['newDescription'].touched) &&
                    form.hasError('required', 'newDescription')
                  ">
                    new description is required
                  </small>
                </mat-form-field>
              </div>

              <div class="col-md-6">

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Unit Measurement</mat-label>
                  <input formControlName="unitMeasurement" matInput type="text" [ngClass]="
                    (form.controls['unitMeasurement'].dirty ||
                      form.controls['unitMeasurement'].touched) &&
                    form.hasError('required', 'unitMeasurement') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['unitMeasurement'].dirty ||
                      form.controls['unitMeasurement'].touched) &&
                    form.hasError('required', 'unitMeasurement')
                  ">
                    unit measurement is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Rev</mat-label>
                  <input formControlName="rev" matInput type="text" [ngClass]="
                    (form.controls['rev'].dirty ||
                      form.controls['rev'].touched) &&
                    form.hasError('required', 'rev') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['rev'].dirty ||
                      form.controls['rev'].touched) &&
                    form.hasError('required', 'rev')
                  ">
                    rev is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Replacement Cost</mat-label>
                  <input formControlName="replacementCost" matInput type="text" [ngClass]="
                    (form.controls['replacementCost'].dirty ||
                      form.controls['replacementCost'].touched) &&
                    form.hasError('required', 'replacementCost') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['replacementCost'].dirty ||
                      form.controls['replacementCost'].touched) &&
                    form.hasError('required', 'replacementCost')
                  ">
                    replacement cost is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Life Months</mat-label>
                  <input formControlName="lifeMonths" matInput type="text" [ngClass]="
                    (form.controls['lifeMonths'].dirty ||
                      form.controls['lifeMonths'].touched) &&
                    form.hasError('required', 'lifeMonths') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['lifeMonths'].dirty ||
                      form.controls['lifeMonths'].touched) &&
                    form.hasError('required', 'lifeMonths')
                  ">
                    life months is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Overhaul Life</mat-label>
                  <input formControlName="overhaulLife" matInput type="text" [ngClass]="
                    (form.controls['overhaulLife'].dirty ||
                      form.controls['overhaulLife'].touched) &&
                    form.hasError('required', 'overhaulLife') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['overhaulLife'].dirty ||
                      form.controls['overhaulLife'].touched) &&
                    form.hasError('required', 'overhaulLife')
                  ">
                    overhaul life is required
                  </small>
                </mat-form-field>

              </div>
            </div>

            <div class="card card-plain mx-4">
              <mat-tab-group mat-align-tabs="left" class="mt-3 mb-3">

                <mat-tab label="Overhaul">
                  <table class="table">
                    <tr>
                      <td class="px-2">
                        <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                          <mat-label class="text-bold">Overhaul Title</mat-label>
                          <input matInput type="text" formControlName="ovTitle" [ngClass]="
                          (form.controls['ovTitle'].dirty || form.controls['ovTitle'].touched) &&
                          form.hasError('required', 'ovTitle') == true ? 'border-danger': ''" />
                          <small class="text-danger float-end" *ngIf="(form.controls['ovTitle'].dirty ||
                              form.controls['ovTitle'].touched) &&
                                form.hasError('required', 'ovTitle')">
                            overhaul title is required
                          </small>
                        </mat-form-field>
                      </td>
                      <td class="px-2">
                        <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                          <mat-label class="text-bold">Strch</mat-label>
                          <input matInput type="text" formControlName="ovStretch" [ngClass]="
                          (form.controls['ovStretch'].dirty || form.controls['ovStretch'].touched) &&
                          form.hasError('required', 'ovStretch') == true ? 'border-danger': ''" />
                          <small class="text-danger float-end" *ngIf="(form.controls['ovStretch'].dirty ||
                              form.controls['ovStretch'].touched) &&
                                form.hasError('required', 'ovStretch')">
                            overhaul stretch is required
                          </small>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>

                  <div class="row mx-4">
                    <div class="col-md-4">
                      <label class="text-bold ">Maintenance</label>
                      <div>
                        <a type="button" (click)="addOverhaulMaintenance()"
                          class="btn bg-gradient-dark text-xs mb-0"><span class="material-icons">add_box</span>&nbsp;
                          Add</a>
                      </div>
                      <table formArrayName="overhaulMaintenances">
                        <tr *ngFor="
                            let overhaulMaintenance of overhaulMaintenances().controls;
                            let i = index
                          " [formGroupName]="i">
                          <td>
                            <label class="form-label">Maintenance</label>
                            <input class="form-control" type="text" formControlName="ohMaintenance"
                              placeholder="enter maintenance" />
                          </td>
                          <td>
                            <label class="form-label">Cost</label>
                            <input class="form-control" type="text" formControlName="ohCost" placeholder="enter cost" />
                          </td>
                          <td>
                            <button (click)="removeOverhaulMaintenance(i)" class="btn btn-sm bg-gradient-danger mx-2">
                              Remove
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-md-4">
                      <label class="text-bold mt-2">Labor</label>
                      <div>
                        <a type="button" (click)="addOverhaulLabor()" class="btn bg-gradient-dark text-xs mb-0"><span
                            class="material-icons"> add_box
                          </span>&nbsp; Add</a>
                      </div>
                      <table formArrayName="overhaulLabors">
                        <tr *ngFor="
                            let overhaulLabor of overhaulLabors().controls;
                            let i = index" [formGroupName]="i">
                          <td>
                            <label class="form-label">Overhaul Labour</label>
                            <input class="form-control" type="text" formControlName="ohLabour"
                              placeholder="enter labour" />
                          </td>
                          <td>
                            <label class="form-label">Hours</label>
                            <input class="form-control" type="text" formControlName="ohHour"
                              placeholder="enter hours" />
                          </td>
                          <td>
                            <button (click)="removeOverhaulLabor(i)" class="btn btn-sm bg-gradient-danger mx-2">
                              Remove
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div class="col-md-4">
                      <label class="text-bold mt-2">Contractor/Shop</label>
                      <div>
                        <a type="button" (click)="addOverhaulCont()" class="btn bg-gradient-dark text-xs mb-0"><span
                            class="material-icons">add_box</span>&nbsp;
                          Add</a>
                      </div>
                      <table formArrayName="overhaulContractors">
                        <tr *ngFor="
                            let cont of overhaulConts().controls;
                            let i = index
                          " [formGroupName]="i">
                          <td>
                            <label class="form-label">Overhaul Labour</label>
                            <input class="form-control" type="text" formControlName="ohLabour"
                              placeholder="enter labour" />
                          </td>
                          <td>
                            <label class="form-label">Overhaul Hour</label>
                            <input class="form-control" type="text" formControlName="ohHour"
                              placeholder="enter hours" />
                          </td>
                          <td>
                            <button (click)="removeOverhaulCont(i)" class="btn btn-sm bg-gradient-danger mx-2">
                              Remove
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </mat-tab>

                <mat-tab disabled>
                  <ng-template mat-tab-label>
                    <div>
                      <a type="button" (click)="addEvent()" class="btn bg-gradient-light text-xs mb-0"><span
                          class="material-icons">add_box</span>&nbsp;
                        Create Event
                      </a>
                    </div>
                  </ng-template>
                </mat-tab>

                <div formArrayName="events">

                  <mat-tab *ngFor=" let event of events().controls; let i = index" [formGroupName]="i" label="Event 1">
                    <button mat-raised-button class="btn btn-sm bg-gradient-danger" (click)="removeEvent(i)">
                      Romove Event
                    </button>
                    <table class="table">
                      <tr>
                        <td class="px-2">
                          <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                            <mat-label class="text-bold">Event Title</mat-label>
                            <input matInput type="text" formControlName='eventTitle' />
                          </mat-form-field>

                        </td>
                        <td class="px-2">
                          <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                            <mat-label class="text-bold">Event Occurence</mat-label>
                            <input matInput type="text" formControlName="eventOccurence" />
                          </mat-form-field>

                        </td>
                        <td class="px-2">
                          <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                            <mat-label class="text-bold">Event Stretch</mat-label>
                            <input matInput type="text" formControlName="eventStretch" />
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <div class="row mx-1">
                      <div class="col-md-4">
                        <label class="text-bold mt-2">Maintenance</label>
                        <div>
                          <a type="button" (click)="addMaintenance(i)" class="btn bg-gradient-dark text-xs mb-0"><span
                              class="material-icons">add_box</span>&nbsp;
                            Create</a>
                        </div>
                        <table formArrayName="eventMaintenance">
                          <tr *ngFor="
                            let maintenance of maintenances(i).controls;
                            let im = index
                          " [formGroupName]="im">
                            <td>
                              <label for="maintenance" class="form-label">Maintenance</label>
                              <input type="text" formControlName="evMaintenance" class="form-control"
                                placeholder="Enter Maintenance" />
                            </td>
                            <td>
                              <label for="cost" class="form-label">Cost</label>
                              <input type="text" formControlName="evCost" class="form-control"
                                placeholder="Enter Cost" />
                            </td>
                            <td>
                              <button (click)="removeMaintenance(im)" class="btn btn-sm bg-gradient-danger mx-2 mt-5">
                                Remove
                              </button>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-4">
                        <label class="text-bold mt-2">Labor</label>
                        <div>
                          <a type="button" (click)="addLabor(i)" class="btn bg-gradient-dark text-xs mb-0"><span
                              class="material-icons"> add_box </span>&nbsp; Create</a>
                        </div>
                        <table formArrayName="eventLabours">
                          <tr *ngFor="
                            let item of labors(i).controls;
                            let il = index
                          " [formGroupName]="il">
                            <td>
                              <label for="level" class="form-label">Labor</label>
                              <input type="text" formControlName="evLabour" class="form-control"
                                placeholder="Enter Labour" />
                            </td>
                            <td>
                              <label class="form-label" for="hrs">Hours</label>
                              <input type="text" formControlName="evHour" class="form-control"
                                placeholder="Enter Hours" />
                            </td>
                            <td>
                              <button (click)="removeLabor(il)" class="btn btn-sm bg-gradient-danger mx-2 mt-5">
                                Remove
                              </button>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-4">
                        <label class="text-bold mt-2">Contractor/Shop</label>
                        <div>
                          <a type="button" (click)="addCont(i)" class="btn bg-gradient-dark text-xs mb-0"><span
                              class="material-icons">add_box</span>&nbsp;
                            Create</a>
                        </div>
                        <table formArrayName="eventContractors">
                          <tr *ngFor="
                            let cost of conts(i).controls;
                            let ic = index
                          " [formGroupName]="ic">
                            <td>
                              <label for="maintenance" class="form-label">Desc</label>
                              <input type="text" formControlName="evContractor" class="form-control"
                                placeholder="Enter Contractor" />
                            </td>
                            <td>
                              <label for="cost" class="form-label">Cost</label>
                              <input type="text" formControlName="evCost" class="form-control"
                                placeholder="Enter Cost" />
                            </td>
                            <td>
                              <button (click)="removeCont(ic)" class="btn btn-sm bg-gradient-danger mx-2 mt-5">
                                Remove
                              </button>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </mat-tab>

                </div>

              </mat-tab-group>

            </div>
            <div class="text-center mb-4">
              <button type="submit" data-bs-dismiss="modal" class="btn bg-gradient-primary m-2">
                Create
              </button>
              <button (click)="resetForm()" type="button" data-bs-dismiss="modal" class="btn bg-gradient-secondary m-2">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
