<div class="modal-dialog modal-fullscreen modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card card-plain">
        <div class="card-header pb-0">
          <div class="text-left">
            <h5 class="">
              Master Form
              <span class="text-right float-end">
                <button (click)="resetForm()" data-bs-dismiss="modal" #modalClose
                  class="btn btn-link text-dark p-0 fixed-plugin-close-button mt-0">
                  <i class="material-icons" style="font-size: 30px">close</i>
                </button>
              </span>
            </h5>
            <p class="mb-0">Asset</p>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center" *ngIf="isLoading">
            <div class="spinner-border"></div>
          </div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <div class="row">
              <div class="col-md-6">

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">AssetType</mat-label>
                  <input formControlName="oldAssetType" matInput type="text" [ngClass]="
                    (form.controls['oldAssetType'].dirty ||
                      form.controls['oldAssetType'].touched) &&
                    form.hasError('required', 'oldAssetType') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['oldAssetType'].dirty ||
                      form.controls['oldAssetType'].touched) &&
                    form.hasError('required', 'oldAssetType')
                  ">
                    AssetType is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Master Id</mat-label>
                  <input formControlName="masterId" matInput type="text">
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">App Description</mat-label>
                  <input formControlName="oldDescription" matInput type="text">
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Style</mat-label>
                  <input formControlName="masterStyle" matInput type="text">
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Size</mat-label>
                  <input formControlName="masterSize" matInput type="text">
                </mat-form-field>
                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Duty / Application</mat-label>
                  <input formControlName="dutyApplication" matInput type="text">
                </mat-form-field>
                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Quality</mat-label>
                  <input formControlName="quality" matInput type="text">
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Unit Measurement</mat-label>
                  <input formControlName="unitMeasurement" matInput type="text">
                </mat-form-field>

              </div>

              <div class="col-md-6">

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">New AssetType</mat-label>
                  <input formControlName="newAssetType" matInput type="text" [ngClass]="
                    (form.controls['newAssetType'].dirty ||
                      form.controls['newAssetType'].touched) &&
                    form.hasError('required', 'newAssetType') == true
                      ? 'border-danger'
                      : ''
                  " />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['newAssetType'].dirty ||
                      form.controls['newAssetType'].touched) &&
                    form.hasError('required', 'newAssetType')
                  ">
                    new assetType is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">New Description</mat-label>
                  <input formControlName="newDescription" matInput type="text">
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Rev</mat-label>
                  <input formControlName="rev" matInput type="text">
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Replacement Cost</mat-label>
                  <input formControlName="replacementCost" matInput type="number">
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Life Months</mat-label>
                  <input formControlName="lifeMonths" matInput type="number">
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs mx-4" appearance="outline">
                  <mat-label class="text-bold">Overhaul Life</mat-label>
                  <input formControlName="overhaulLife" matInput type="number">
                </mat-form-field>

              </div>
            </div>

            <!-- overhaul and event tabs -->
            <div class="card card-plain mx-4">
              <mat-tab-group mat-align-tabs="left" class="mt-3 mb-3" [selectedIndex]="tabIndex">

                <!-- all tab -->
                <mat-tab label="All" *ngIf="isEditForm">
                  <div class="card">
                    <p-treeTable [value]="files" id="treetable" [columns]="cols" class="table-responsive">
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns" class="">
                            {{ col.header }}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        <tr>
                          <td *ngFor="let col of columns; let i = index">
                            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                            <span [ngClass]="{ 'text-bold': i === 0 }">{{rowData[col.field]}}</span>
                          </td>
                        </tr>
                      </ng-template>
                    </p-treeTable>
                  </div>
                </mat-tab>

                <mat-tab label="Overhaul">
                  <table class="table">
                    <tr>
                      <td class="px-2">
                        <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                          <mat-label class="text-bold">Overhaul Title</mat-label>
                          <input matInput type="text" formControlName="ovTitle">
                        </mat-form-field>
                      </td>
                      <td class="px-2">
                        <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                          <mat-label class="text-bold">Stretch</mat-label>
                          <mat-select matInput type="text" formControlName="ovStretch" disableOptionCentering>
                            <mat-option value="Yes">Yes</mat-option>
                            <mat-option value="No">No</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>

                  <div class="row mx-4">
                    <div class="col-md-4">
                      <label class="text-bold ">Parts / Materials</label>
                      <div>
                        <a type="button" (click)="addOverhaulMaintenance()"
                          class="btn bg-gradient-dark text-xs mb-0"><span class="material-icons">add_box</span>&nbsp;
                          Add</a>
                      </div>
                      <table formArrayName="overhaulMaintenances">
                        <tr *ngFor="
                            let overhaulMaintenance of overhaulMaintenances().controls;
                            let iov = index
                          " [formGroupName]="iov">
                          <td>
                            <label class="form-label">Parts/Materials</label>
                            <input class="form-control" type="text" formControlName="ohMaintenance"
                              placeholder="Enter Parts/Materials Description" />
                          </td>
                          <td>
                            <label class="form-label">Cost</label>
                            <input class="form-control" type="number" formControlName="ohCost"
                              placeholder="Enter cost" />
                          </td>
                          <td>
                            <button (click)="removeOverhaulMaintenance(iov)"
                              class="btn btn-sm bg-gradient-danger mx-2 mt-5">
                              Remove
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-md-4">
                      <label class="text-bold mt-2">Labor</label>
                      <div>
                        <a type="button" (click)="addOverhaulLabor()" class="btn bg-gradient-dark text-xs mb-0"><span
                            class="material-icons"> add_box
                          </span>&nbsp; Add</a>
                      </div>
                      <table formArrayName="overhaulLabors">
                        <tr *ngFor="
                            let overhaulLabor of overhaulLabors().controls;
                            let i = index" [formGroupName]="i">
                          <td>
                            <label class="form-label">Overhaul Labour</label>
                            <span>
                              <select name="" id="labour" class="form-control form-select" formControlName="ohLabour">
                                <option value="Unskilled">Unskilled</option>
                                <option value="Basic Skilled">Basic Skilled</option>
                                <option value="Technical">Technical</option>
                                <option value="Specialized">Specialized</option>
                                <option value="Certified">Certified</option>
                                <option value="Supervisory">Supervisory</option>
                              </select>
                            </span>

                          </td>
                          &nbsp;
                          <td>
                            <label class="form-label">Hours</label>
                            <input class="form-control" type="number" formControlName="ohHour"
                              placeholder="Enter hours" />
                          </td>
                          <td>
                            <button (click)="removeOverhaulLabor(i)" class="btn btn-sm bg-gradient-danger mx-2 mt-5">
                              Remove
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div class="col-md-4">
                      <label class="text-bold mt-2">Contractor/Shop</label>
                      <div>
                        <a type="button" (click)="addOverhaulCont()" class="btn bg-gradient-dark text-xs mb-0"><span
                            class="material-icons">add_box</span>&nbsp;
                          Add</a>
                      </div>
                      <table formArrayName="overhaulContractors">
                        <tr *ngFor="
                            let cont of overhaulConts().controls;
                            let i = index
                          " [formGroupName]="i">
                          <td>
                            <label class="form-label">Contractor/Shop Description</label>
                            <input class="form-control" type="text" formControlName="ohLabour"
                              placeholder="Contractor/Shop Description" />
                          </td>
                          <td>
                            <label class="form-label">Cost</label>
                            <input class="form-control" type="number" formControlName="ohHour"
                              placeholder="Cost" />
                          </td>
                          <td>
                            <button (click)="removeOverhaulCont(i)" class="btn btn-sm bg-gradient-danger mx-2 mt-6">
                              Remove
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </mat-tab>

                <div formArrayName="events">

                  <mat-tab *ngFor=" let event of events().controls; let i = index" [formGroupName]="i"
                    label="{{'Event ' + (i+1)}}">
                    <button mat-raised-button class="btn btn-sm bg-gradient-danger m-2 float-end"
                      (click)="removeEvent(i)">
                      Remove Event
                    </button>
                    <table class="table">
                      <tr>
                        <td class="px-2">
                          <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                            <mat-label class="text-bold">Event Title</mat-label>
                            <input matInput type="text" formControlName='evTitle' />
                          </mat-form-field>

                        </td>
                        <td class="px-2">
                          <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                            <mat-label class="text-bold">Event Occurence - Preform Every X Months</mat-label>
                            <input matInput type="number" formControlName="evOccurence" />
                          </mat-form-field>

                        </td>
                        <td class="px-2">
                          <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                            <mat-label class="text-bold">Stretch</mat-label>
                            <mat-select matInput type="text" formControlName="evStretch" disableOptionCentering>
                              <mat-option value="Yes">Yes</mat-option>
                              <mat-option value="No">No</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <div class="row mx-1">
                      <div class="col-md-4">
                        <label class="text-bold mt-2">Maintenance</label>
                        <div>
                          <a type="button" (click)="addMaintenance(i)" class="btn bg-gradient-dark text-xs mb-0"><span
                              class="material-icons">add_box</span>&nbsp;
                            Create</a>
                        </div>
                        <table formArrayName="eventMaintenance">
                          <tr *ngFor="
                            let maintenance of maintenances(i).controls;
                            let im = index
                          " [formGroupName]="im">
                            <td>
                              <label for="maintenance" class="form-label">Maintenance</label>
                              <input type="text" formControlName="evMaintenance" class="form-control"
                                placeholder="Enter Maintenance" />
                            </td>
                            <td>
                              <label for="cost" class="form-label">Cost</label>
                              <input type="number" formControlName="evCost" class="form-control"
                                placeholder="Enter Cost" />
                            </td>
                            <td>
                              <button (click)="removeMaintenance(i,im)" class="btn btn-sm bg-gradient-danger mx-2 mt-5">
                                Remove
                              </button>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-4">
                        <label class="text-bold mt-2">Labor</label>
                        <div>
                          <a type="button" (click)="addLabor(i)" class="btn bg-gradient-dark text-xs mb-0"><span
                              class="material-icons"> add_box </span>&nbsp; Create</a>
                        </div>
                        <table formArrayName="eventLabours">
                          <tr *ngFor="
                            let item of labors(i).controls;
                            let il = index
                          " [formGroupName]="il">
                            <td>
                              <label for="level" class="form-label">Labor</label>
                              <span>
                                <select name="" id="labour" class="form-control form-select" formControlName="evLabour">
                                  <option value="Unskilled">Unskilled</option>
                                  <option value="Basic Skilled">Basic Skilled</option>
                                  <option value="Technical">Technical</option>
                                  <option value="Specialized">Specialized</option>
                                  <option value="Certified">Certified</option>
                                  <option value="Supervisory">Supervisory</option>
                                </select>
                              </span>
                            </td>
                            &nbsp;
                            <td>
                              <label class="form-label" for="hrs">Hours</label>
                              <input type="number" formControlName="evHour" class="form-control"
                                placeholder="Enter Hours" />
                            </td>
                            <td>
                              <button (click)="removeLabor(i,il)" class="btn btn-sm bg-gradient-danger mx-2 mt-5">
                                Remove
                              </button>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-4">
                        <label class="text-bold mt-2">Contractor/Shop</label>
                        <div>
                          <a type="button" (click)="addCont(i)" class="btn bg-gradient-dark text-xs mb-0"><span
                              class="material-icons">add_box</span>&nbsp;
                            Create</a>
                        </div>
                        <table formArrayName="eventContractors">
                          <tr *ngFor="
                            let cost of conts(i).controls;
                            let ic = index
                          " [formGroupName]="ic">
                            <td>
                              <label for="maintenance" class="form-label">Desc</label>
                              <input type="text" formControlName="evContractor" class="form-control"
                                placeholder="Enter Contractor" />
                            </td>
                            <td>
                              <label for="cost" class="form-label">Cost</label>
                              <input type="number" formControlName="evCost" class="form-control"
                                placeholder="Enter Cost" />
                            </td>
                            <td>
                              <button (click)="removeCont(i,ic)" class="btn btn-sm bg-gradient-danger mx-2 mt-5">
                                Remove
                              </button>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </mat-tab>

                </div>

                <mat-tab disabled>
                  <ng-template mat-tab-label>
                    <div>
                      <a type="button" (click)="addEvent()" class="btn bg-gradient-light text-xs mb-0"><span
                          class="material-icons">add_box</span>&nbsp;
                        Create Event
                      </a>
                    </div>
                  </ng-template>
                </mat-tab>

              </mat-tab-group>

            </div>
            <div class="text-center mb-4">
              <button type="submit" class="btn bg-gradient-primary m-2">
                Create
              </button>
              <button (click)="resetForm()" type="button" data-bs-dismiss="modal" class="btn bg-gradient-dark m-2">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
