<div class="container-fluid py-1">
  <div class="float-start">
    <button (click)="onCreate()" type="button" class="btn bg-gradient-primary mx-2 mb-4 text-right" data-bs-toggle="modal"
      data-bs-target="#modal-form">
      Add Client
    </button>
  </div>

  <div class="d-flex justify-content-center mt-10" *ngIf="isLoading">
    <div class="spinner-border" ></div>
  </div>
  <app-clientstable *ngIf="clients.length!=0" [clients]="clients" [isLoading]="isLoading" (deleteClientEvent)="onDeleteClient($event)"
    (editClientEvent)="onEditClient($event)"></app-clientstable>

</div>

<!-- Edit form -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-plain">
          <div class="card-header pb-0 text-left">
            <h5 class="">
              Client
              <span class="text-right float-end">
                <button type="button" data-bs-dismiss="modal"
                  class="btn btn-link text-dark p-0 fixed-plugin-close-button" (click)="resetForm()">
                  <i class="material-icons" style="font-size: 30px">close</i>
                </button>
              </span>
            </h5>
            <p class="mb-0">Enter Client Details</p>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-center" *ngIf="isEditFormLoading">
              <div class="spinner-border"></div>
            </div>

            <form [formGroup]="form" *ngIf="!isEditFormLoading">
              <div class="row">
                <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                  <mat-label class="text-bold">Client Name</mat-label>
                  <input formControlName="clientName" matInput type="text" [ngClass]="
                      (form.controls['clientName'].dirty ||
                        form.controls['clientName'].touched) &&
                      form.hasError('required', 'clientName') == true
                        ? 'border-danger'
                        : ''
                    " />
                  <small class="text-danger float-end" *ngIf="
                      (form.controls['clientName'].dirty ||
                        form.controls['clientName'].touched) &&
                      form.hasError('required', 'clientName')
                    ">
                    *Client name is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                  <mat-label class="text-bold">Contract Years</mat-label>
                  <input formControlName="contractYears" matInput type="number" [ngClass]="
                      (form.controls['contractYears'].dirty ||
                        form.controls['contractYears'].touched) &&
                      form.hasError('required', 'contractYears') == true
                        ? 'border-danger'
                        : ''
                    " />
                  <small class="text-danger float-end" *ngIf="
                      (form.controls['contractYears'].dirty ||
                        form.controls['contractYears'].touched) &&
                      form.hasError('required', 'contractYears')
                    ">
                    *Contract years is required
                  </small>
                </mat-form-field>

                <mat-form-field *ngIf="isEditForm" class="example-form-field text-xs my-1" appearance="outline">
                  <mat-label class="text-bold">Status</mat-label>

                  <mat-select formControlName="clientStatus" [(value)]="clientStatus" placeholder="Mode">
                    <mat-option [value]='true'>Active</mat-option>
                    <mat-option [value]='false'>Inactive</mat-option>
                  </mat-select>

                </mat-form-field>

              </div>
              <div class="text-center mt-4">
                <button type="submit" data-bs-dismiss="modal" class="btn bg-gradient-primary m-2"
                  (click)="onSubmit()" [disabled]="isEditFormLoading || form.invalid">
                  Submit
                </button>
                <button (click)="resetForm()" type="button" data-bs-dismiss="modal"
                  class="btn bg-gradient-dark m-2">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>