<aside  *ngIf="showSideNav"
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
  id="sidenav-main">
  <app-side-navbar></app-side-navbar>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
  <app-navbar></app-navbar>
  <div class="container-fluid py-2">

    <div class="float-start">
      <button (click)="toggleSideNavShow()" type="button" class="btn bg-gradient-primary mx-2 mb-4 text-right"
      data-bs-toggle="modal" data-bs-target="#modal-form">
        Add Client
      </button>
    </div>
    

   <app-clientstable></app-clientstable>

  </div>

  <!-- clients form here -->

  <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h5 class="">
                Client
                <span class="text-right float-end">
                  <button (click)="toggleSideNavShow()" type="button" data-bs-dismiss="modal"
                    class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                    <i class="material-icons" style="font-size: 30px">close</i>
                  </button>
                </span>
              </h5>
              <p class="mb-0">Enter Client Details</p>
            </div>
            <div class="card-body">
              <form>

                <div class="text-center mt-4">
                  <button type="submit"
                    class="btn bg-gradient-primary m-2">
                    Create
                  </button>
                  <button (click)="toggleSideNavShow()" type="button" data-bs-dismiss="modal"
                    class="btn bg-gradient-secondary m-2">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</main>

<app-setting-plugin></app-setting-plugin>
