  <div class="row">
    <form [formGroup]="formGroup">
      <div class="content col-12" role="main">
        <mat-form-field appearance="outline" class="mx-3" style="font-size: 80%">
          <mat-label
            > Search Assets
          </mat-label>
          <input
            formControlName="asset"
            matInput
            type="text"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of filteredOptions" [value]="item">
              {{ item }}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <span class="float-end my-3 mx-5">
          <button type="button" (click)="processModel()" class="btn bg-gradient-primary text-right">
          Export Model
        </button>
        </span>
      </div>
    </form>
  </div>
  <app-view-master-table [eventEvalTableShow]="eventEvalTableShow"></app-view-master-table>
