  <div class="row">
      <div class="content col-12" role="main">
        <mat-form-field appearance="outline" class="mx-3" style="font-size: 80%">
          <mat-label
            > Search Assets
          </mat-label>
          <input
            [formControl]="asset"
            matInput
            type="text"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getSelectedMaster($event.option.value)' [displayWith]="getDisplayText">
            <mat-option *ngFor="let master of filteredMasters" [value]="master">
              {{ master.newAssetType }} | {{master.oldAssetType}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <span class="float-end my-3 mx-5">
          <button type="button" (click)="processModel()" class="btn bg-gradient-primary text-right">
          Export Model
        </button>
        </span>
      </div>
  </div>
  <app-view-master-table [eventEvalTableShow]="eventEvalTableShow" *ngIf="masterId"></app-view-master-table>
