<div class="container-fluid py-1">
  <div class="float-start">
    <button type="button" class="btn bg-gradient-primary mx-2 text-right" data-bs-toggle="modal"
      data-bs-target="#modal-form">
      Add site
    </button>
  </div>

  <app-sites-table *ngIf="sites.length>0" [sites]="sites" [isLoading]="isLoading"
    (deleteSiteEvent)="onDeleteSite($event)" (editSiteEvent)="onEditSite($event)"></app-sites-table>

  <!-- <app-site-form></app-site-form> -->
</div>

<!-- Edit Form -->
<div class="modal fade" id="edit-modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-plain">
          <div class="card-header pb-0 text-left">
            <h5 class="">
              Site
              <span class="text-right float-end">
                <button type="button" (click)="resetForm()" data-bs-dismiss="modal"
                  class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                  <i class="material-icons" style="font-size: 30px">close</i>
                </button>
              </span>
            </h5>
            <p class="mb-0">Enter Site Details</p>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" *ngIf="isEditFormLoading"></div>
            </div>

            <form [formGroup]="form" *ngIf="!isEditFormLoading">
              <div class="row">
                <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                  <mat-label class="text-bold">Site Name</mat-label>
                  <input formControlName="siteName" matInput type="text" [ngClass]="
                      (form.controls['siteName'].dirty ||
                        form.controls['siteName'].touched) &&
                      form.hasError('required', 'siteName') == true
                        ? 'border-danger'
                        : ''
                    " />
                  <small class="text-danger float-end" *ngIf="
                      (form.controls['siteName'].dirty ||
                        form.controls['siteName'].touched) &&
                      form.hasError('required', 'siteName')
                    ">
                    Site Name is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                  <mat-label class="text-bold">Status</mat-label>

                  <mat-select formControlName="siteStatus" [(value)]="siteStatus" placeholder="Mode">
                    <mat-option [value]='true' >Active</mat-option>
                    <mat-option [value]='false' >Inactive</mat-option>
                  </mat-select>

                </mat-form-field>
                
              </div>
              <div class="text-center mt-4">
                <button type="submit" (click)="onUpdateSite()" type="button" data-bs-dismiss="modal"
                  class="btn bg-gradient-primary m-2" [disabled]="isEditFormLoading">
                  Update
                </button>
                <button type="button" (click)="resetForm()" data-bs-dismiss="modal" class="btn bg-gradient-dark m-2">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- sites form here -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-plain">
          <div class="card-header pb-0 text-left">
            <h5 class="">
              Site
              <span class="text-right float-end">
                <button type="button" data-bs-dismiss="modal"
                  class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                  <i class="material-icons" style="font-size: 30px">close</i>
                </button>
              </span>
            </h5>
            <p class="mb-0">Enter Site Details</p>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">
                <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                  <mat-label class="text-bold">Site Name</mat-label>
                  <input formControlName="siteName" matInput type="text" [ngClass]="
                      (form.controls['siteName'].dirty ||
                        form.controls['siteName'].touched) &&
                      form.hasError('required', 'siteName') == true
                        ? 'border-danger'
                        : ''
                    " />
                  <small class="text-danger float-end" *ngIf="
                      (form.controls['siteName'].dirty ||
                        form.controls['siteName'].touched) &&
                      form.hasError('required', 'siteName')
                    ">
                    Site Name is required
                  </small>
                </mat-form-field>
              </div>
              <div class="text-center mt-4">
                <button type="submit" (click)="onSubmit()" type="button" data-bs-dismiss="modal"
                  class="btn bg-gradient-primary m-2">
                  Create
                </button>
                <button type="button" (click)="resetForm()" data-bs-dismiss="modal" class="btn bg-gradient-dark m-2">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>