<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <p class="text-white text-bold text-capitalize ps-3">Model Table</p>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="p-0">
          <table class="table table-blocked mb-0 mx-3">
            <thead>
              <tr>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">UnitDesc</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">AppDesc</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">UnitMeas</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">Rev</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">UnitCode</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">AppCode</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">ReplCost</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">Lifemos</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">OHLife</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">Ev1title</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">Ev1Every</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">Ev1Strch</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">Ev1M1</th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">Ev1M1Cst</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let model of modelArray">
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.UnitDesc }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.AppDesc }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.UnitMeas }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.Rev }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.UnitCode }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.AppCode }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.ReplCost }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.Lifemos }}</p>
                    </div>
                  </div>
                </td>
                <td>
                   <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.OHLife }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.Ev1title }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.Ev1Every }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.Ev1Strch }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.Ev1M1 }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.Ev1M1Cst }}</p>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
