<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
  data-scroll="true">
  <div class="container-fluid py-1">
      <h4 class="font-weight-bolder mb-0">{{ title }}</h4>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="row float-end">
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="my-3 text-xs">
              <mat-label> Select Client </mat-label>
              <input [(ngModel)]="selectedClient.name" matInput type="text" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="
                    let client of clients | searchFilter: selectedClient.name" [value]="client.name">
                  {{ client.name }}
                </mat-option>
              </mat-autocomplete>
              <mat-icon matSuffix>people</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="text-xs my-3">
              <mat-label> Select Site </mat-label>
              <input [(ngModel)]="selectedSite.name" matInput type="text" [matAutocomplete]="auto2" />
              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option *ngFor="let site of sites | searchFilter: selectedSite.name" [value]="site.name">
                  {{ site.name }}
                </mat-option>
              </mat-autocomplete>
              <mat-icon matSuffix>business</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item d-flex align-items-center">
          <a routerLink="/login" class="nav-link text-body font-weight-bold px-0">
            <i class="fa fa-user me-sm-1"></i>
            <span class="d-sm-inline d-none">User 1</span>
          </a>
        </li>
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
