.select-placeholder-container {
  display: flex;
  align-items: center;
}

.select-placeholder-container > span {
  flex: 1;
}

.addpadding {
  padding-top:60px;
}

.pointer{
  cursor: pointer;
}

.noMargin{
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.capitalize-first {
  display:inline-block;
  text-transform: lowercase;
}
.capitalize-first::first-letter {
  text-transform: uppercase;
}