<hr>
<div class="container-fluid px-4 py-2"></div>
<div class="d-flex justify-content-center">
  <div class="spinner-border" *ngIf="isLoading"></div>
</div>
<div class="row" *ngIf="!isLoading">
  <div class="col-md-4" *ngFor="let site of sitesList">
    <div class="card" style="width: auto; height: auto;">
      <div class="card-header bg-gradient-primary pb-0 px-3">
        <h6 class="mb-4 text-white text-bold font-weight-bold text-lg">{{site.siteName}}</h6>
      </div>
      <div class="card-body">

        <div><span class=" col card-text text-bold">Site Id: </span><span class="text-sm">{{site.siteId}}</span></div>
        &nbsp;
        <div>
          <span class="col card-text text-bold">Site Status: </span> 
          <span class="text-sm" *ngIf="site.siteStatus == true" ><i class=" small material-icons text-success">brightness_1</i> Active</span>
          <span class="text-sm" *ngIf="site.siteStatus == false" ><i class=" small material-icons text-danger">brightness_1</i> Inactive</span>
        </div>

        <button type="button" (click)="setclient($event)" data-id={{site.siteId}}
          class="btn bg-gradient-primary mt-4">visit</button>
      </div>
    </div>
  </div>
</div>