<hr>
<div class="container-fluid px-4 py-2"></div>
  <div class="row">
      <div class="col-md-4" *ngFor="let site of sitesList">
        <div class="card" style="width: auto; height: auto;">
        <div class="card-header bg-gradient-primary pb-0 px-3">
          <h6 class="mb-4 text-white text-bold font-weight-bold text-lg">{{site.siteName}}</h6>
        </div>
        <div class="card-body">
          <div><span class="card-text text-bold">Description: </span> <span class="text-sm ">{{site.desc}}</span></div>
          <div><span class="card-text text-bold">Client: </span><span class="text-sm">{{site.siteClient}}</span></div>
          <div><span class="card-text text-bold">Manager: </span><span class="text-sm">{{site.siteManager}}</span></div>
          <button type="button" [routerLink]="['/dashboard']" routerLinkActive="router-link-active"  class="btn bg-gradient-primary mt-4">visit</button>
        </div>
      </div>
    </div>
</div>
