<div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card card-plain">
        <div class="card-header pb-0 text-left">
          <h5 class="">
            Summary
            <span class="text-right float-end">
              <button #modalClose data-bs-dismiss="modal" (click)="resetForm()"
                class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                <i class="material-icons" style="font-size: 30px">close</i>
              </button>
            </span>
          </h5>
          <p class="mb-0">Enter Equipment Details</p>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center" *ngIf="isLoading">
            <div class="spinner-border"></div>
          </div>
          <form [formGroup]="form" *ngIf="!isLoading">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline" style="font-size: 88%">
                  <mat-label class="text-bold">Search Unit or Equipment Functional Description</mat-label>
                  <input [formControl]="asset" matInput type="text" [matAutocomplete]="auto" />
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)='onAssetChange($event.option.value)'
                    [displayWith]="getDisplayText">
                    <mat-option *ngFor="let master of filteredMasters" [value]="master">
                      {{master.oldAssetType}} - {{ master.newAssetType }} , {{master.masterStyle}} ,
                      {{master.masterSize}}, {{master.quality}}, {{master.dutyApplication}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <mat-form-field class="text-sm" appearance="outline">
                  <mat-label class="text-bold">Master Id</mat-label>
                  <input formControlName="masterId" matInput type="text">
                </mat-form-field>

                <mat-form-field class="text-sm" appearance="outline">
                  <mat-label class="text-bold">Unit or Equipment Functional Description</mat-label>
                  <input formControlName="eqpFunctionalDesc" matInput type="text">
                </mat-form-field>

                <mat-form-field class="text-sm" appearance="outline">
                  <mat-label class="text-bold">Asset Type</mat-label>
                  <input formControlName="assetType" matInput type="text" [ngClass]="
                        (form.controls['assetType'].dirty ||
                          form.controls['assetType'].touched) &&
                        form.hasError('required', 'assetType') == true
                          ? 'border-danger'
                          : ''
                      " />
                  <small class="text-danger float-end" *ngIf="
                        (form.controls['assetType'].dirty ||
                          form.controls['assetType'].touched) &&
                        form.hasError('required', 'assetType')
                      ">
                    assetType is required
                  </small>
                </mat-form-field>

                <mat-form-field class="text-sm" appearance="outline">
                  <mat-label class="text-bold">Style</mat-label>
                  <input formControlName="summaryStyle" matInput type="text" [ngClass]="
                        (form.controls['summaryStyle'].dirty ||
                          form.controls['summaryStyle'].touched) &&
                        form.hasError('required', 'summaryStyle') == true
                          ? 'border-danger'
                          : ''
                      " />
                  <small class="text-danger float-end" *ngIf="
                        (form.controls['summaryStyle'].dirty ||
                          form.controls['summaryStyle'].touched) &&
                        form.hasError('required', 'summaryStyle')
                      ">
                    style is required
                  </small>
                </mat-form-field>

                <mat-form-field class="text-sm" appearance="outline">
                  <mat-label class="text-bold">Size</mat-label>
                  <input formControlName="size" matInput type="text" [ngClass]="
                        (form.controls['size'].dirty ||
                          form.controls['size'].touched) &&
                        form.hasError('required', 'size') == true
                          ? 'border-danger'
                          : ''
                      " />
                  <small class="text-danger float-end" *ngIf="
                        (form.controls['size'].dirty ||
                          form.controls['size'].touched) &&
                        form.hasError('required', 'size')
                      ">
                    size is required
                  </small>
                </mat-form-field>

                <mat-form-field class="text-sm" appearance="outline">
                  <mat-label class="text-bold">Duty/Application</mat-label>
                  <input formControlName="dutyApplication" matInput type="text" [ngClass]="
                        (form.controls['dutyApplication'].dirty ||
                          form.controls['dutyApplication'].touched) &&
                        form.hasError('required', 'dutyApplication') == true
                          ? 'border-danger'
                          : ''
                      " />
                  <small class="text-danger float-end" *ngIf="
                        (form.controls['dutyApplication'].dirty ||
                          form.controls['dutyApplication'].touched) &&
                        form.hasError('required', 'dutyApplication')
                      ">
                    duty/application is required
                  </small>
                </mat-form-field>

                <mat-form-field class="text-sm" appearance="outline">
                  <mat-label class="text-bold">Quality</mat-label>
                  <input formControlName="quality" matInput type="text" [ngClass]="
                        (form.controls['quality'].dirty ||
                          form.controls['quality'].touched) &&
                        form.hasError('required', 'quality') == true
                          ? 'border-danger'
                          : ''
                      " />
                  <small class="text-danger float-end" *ngIf="
                        (form.controls['quality'].dirty ||
                          form.controls['quality'].touched) &&
                        form.hasError('required', 'quality')
                      ">
                    quality is required
                  </small>
                </mat-form-field>


              </div>

              <div class="col-md-6">

                <mat-form-field class="text-sm" appearance="outline">
                  <mat-label class="text-bold">Unit Application Description</mat-label>
                  <input formControlName="description" matInput type="text" [ngClass]="
                        (form.controls['description'].dirty ||
                          form.controls['description'].touched) &&
                        form.hasError('required', 'description') == true
                          ? 'border-danger'
                          : ''
                      " />
                  <small class="text-danger float-end" *ngIf="
                        (form.controls['description'].dirty ||
                          form.controls['description'].touched) &&
                        form.hasError('required', 'description')
                      ">
                    app description is required
                  </small>
                </mat-form-field>


                <mat-form-field class="text-sm" appearance="outline">
                  <mat-label class="text-bold">Quantity</mat-label>
                  <input formControlName="quantity" matInput type="number" [ngClass]="
                        (form.controls['quantity'].dirty ||
                          form.controls['quantity'].touched) &&
                        form.hasError('required', 'quantity') == true
                          ? 'border-danger'
                          : ''
                      " />
                  <small class="text-danger float-end" *ngIf="
                        (form.controls['quantity'].dirty ||
                          form.controls['quantity'].touched) &&
                        form.hasError('required', 'quantity')
                      ">
                    quantity is required
                  </small>
                </mat-form-field>

                <mat-form-field class="text-sm" appearance="outline">
                  <mat-label class="text-bold">Load %</mat-label>
                  <input formControlName="load" matInput type="number" [ngClass]="
                        (form.controls['load'].dirty ||
                          form.controls['load'].touched) &&
                        form.hasError('required', 'load') == true
                          ? 'border-danger'
                          : ''
                      " />
                  <small class="text-danger float-end" *ngIf="
                        (form.controls['load'].dirty ||
                          form.controls['load'].touched) &&
                        form.hasError('required', 'load')
                      ">
                    load is required
                  </small>
                </mat-form-field>

                <mat-form-field appearance="outline" class="text-sm">
                  <mat-label>Installation Date</mat-label>
                  <input formControlName="installmentDate" matInput [matDatepicker]="picker"
                    (dateChange)="onInstallmentChange($event.value)" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <small class="text-danger float-end" *ngIf="
                        (form.controls['installmentDate'].dirty ||
                          form.controls['installmentDate'].touched) &&
                        form.hasError('required', 'installmentDate')
                      ">
                    date is required
                  </small>
                </mat-form-field>

                <mat-form-field class="text-sm" appearance="outline">
                  <mat-label class="text-bold">Life %</mat-label>
                  <mat-label *ngIf="lifeLoader" class="float-end mx-2">
                    <div class="select-placeholder-container">
                      <mat-spinner class="spinner" diameter="20"></mat-spinner>
                    </div>
                  </mat-label>
                  <input formControlName="life" matInput type="number" [ngClass]="
                        (form.controls['life'].dirty ||
                          form.controls['life'].touched) &&
                        form.hasError('required', 'life') == true
                          ? 'border-danger'
                          : ''
                      " />
                  <small class="text-danger float-end" *ngIf="
                        (form.controls['life'].dirty ||
                          form.controls['life'].touched) &&
                        form.hasError('required', 'life')
                      ">
                    life is required
                  </small>
                </mat-form-field>

                <mat-form-field class="text-sm" appearance="outline">
                  <mat-label class="text-bold">Remaining Life %</mat-label>
                  <mat-label *ngIf="lifeLoader" class="float-end mx-2">
                    <div class="select-placeholder-container">
                      <mat-spinner class="spinner" diameter="20"></mat-spinner>
                    </div>
                  </mat-label>
                  <input formControlName="remainingLife" matInput type="number" [ngClass]="
                        (form.controls['remainingLife'].dirty ||
                          form.controls['remainingLife'].touched) &&
                        form.hasError('required', 'remainingLife') == true
                          ? 'border-danger'
                          : ''
                      " />
                  <small class="text-danger float-end" *ngIf="
                        (form.controls['remainingLife'].dirty ||
                          form.controls['remainingLife'].touched) &&
                        form.hasError('required', 'remainingLife')
                      ">
                      remaining life is required
                  </small>
                </mat-form-field>
              </div>
            </div>

            <div class="text-center mt-4">
              <button type="submit" (click)="onSubmit()" class="btn bg-gradient-primary m-2">
                Submit
              </button>
              <button type="button" data-bs-dismiss="modal" class="btn bg-gradient-dark m-2" (click)="resetForm()">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
