<aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
  id="sidenav-main"
  *ngIf="showSideNav">
  <app-side-navbar></app-side-navbar>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
  <app-navbar></app-navbar>

  <div class="container-fluid py-4">
    <button (click)="toggleSideNavShow()" type="button" class="btn bg-gradient-primary mb-6 mt-3 text-right" data-bs-toggle="modal"
      data-bs-target="#modal-form">
      Create Summary
    </button>
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h5 class="">Summary</h5>
                <p class="mb-0">Enter Equipment Details</p>
              </div>
              <div class="card-body">

                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label">Unit or Equipment Functional Description</label>
                    <input type="text" formControlName="unitName" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>

                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label" for="asssetType">Asset Type</label>
                    <select formControlName="assetType"  class="form-select" name="assetType"
                      [(ngModel)]="selectedAssetType" (change)="onAssetTypeSelect(selectedAssetType)">
                      <!-- <option value="0">--Select asset type</option> -->
                      <option class="dropdown-item" *ngFor="let assetType of assetTypes" [ngValue]="assetType">
                        {{ assetType.name }}
                      </option>
                    </select>
                  </div>

                  <div class="input-gro;up input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label" for="size">Size</label>
                    <select formControlName="size" class="form-select" name="size" [(ngModel)]="selectedSize"
                      (change)="onSizeSelect(selectedSize)">
                      <!-- <option value="0">--Select size</option> -->
                      <option *ngFor="let size of selectedSizes" [ngValue]="size">
                        {{ size.desc }}
                      </option>
                    </select>
                  </div>

                  <div class="input-gro;up input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label" for="app">Duty or Application</label>
                    <select formControlName="app" class="form-select" name="app" [(ngModel)]="selectedApp"
                      (change)="onAppSelect(selectedApp)">
                      <!-- <option value="0">--Select Application/Duty</option> -->
                      <option *ngFor="let app of selectedApps" [ngValue]="app">
                        {{ app.desc }}
                      </option>
                    </select>
                  </div>

                  <div class="input-gro;up input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label" for="subApp">Sub Duty or Application</label>
                    <select formControlName="subApp" class="form-select" name="subApp"
                      [(ngModel)]="selectedSubApp" (change)="onSubAppSelect(selectedSubApp)">
                      <!-- <option value="0">--Select Sub Application/Duty</option> -->
                      <option *ngFor="let subApp of selectedSubApps" [ngValue]="subApp">
                        {{ subApp.desc }}
                      </option>
                    </select>
                  </div>

                  <div class="input-gro;up input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label" for="quality">Quality</label>
                    <select formControlName="quality" class="form-select" name="quality"
                      [ngModel]="selectedQuality">
                      <!-- <option value="0">--Select Quality</option> -->
                      <option *ngFor="let quality of selectedQualities" [ngValue]="quality">
                        {{ quality.desc }}
                      </option>
                    </select>
                  </div>

                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label" for="quantity">Quantity</label>
                    <input type="text" formControlName="quantity" name="quantity" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>

                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label" for="load">Load %</label>
                    <input type="text" formControlName="load" name="load" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>

                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label" for="life">Life %</label>
                    <input type="text" formControlName="life" name="life" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>

                  <div class="text-center">
                    <button (click)="toggleSideNavShow()" type="submit" data-bs-dismiss="modal" class="btn bg-gradient-primary m-2">
                      Create
                    </button>
                    <button (click)="toggleSideNavShow()" type="button" data-bs-dismiss="modal" class="btn bg-gradient-secondary m-2" (click)="onCancel()">
                      Cancel
                    </button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-summarytable [summaryArray]="summaryArray"></app-summarytable>

  </div>
  <app-footer></app-footer>
</main>

<app-setting-plugin></app-setting-plugin>
