<div class="container-fluid py-1">
  <div class="float-start">
    <button type="button" class="btn bg-gradient-primary mx-2 text-right" data-bs-toggle="modal"
      data-bs-target="#modal-form">
      Create Record
    </button>
  </div>

  <div class="float-end">
    <button type="button" class="btn bg-gradient-primary text-right mx-2" data-bs-toggle="modal"
      data-bs-target="#detail-table">
      View More Info
    </button>
    <button type="button" class="btn bg-gradient-primary text-right mx-2">
      Export Summary
    </button>
  </div>

  <!-- asset detail table modal -->
  <div class="modal fade" id="detail-table" tabindex="-1" role="dialog" aria-labelledby="detail-table"
    aria-hidden="true">
    <app-summary-viewdetails-table></app-summary-viewdetails-table>
  </div>

  <!-- summary modal form -->
  <!-- <div
    class="modal fade"
    id="modal-form"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-form"
    aria-hidden="true"
  >
    <app-create-summary-form></app-create-summary-form>
  </div> -->

  <div class="mt-6">
    <app-summarytable [isLoading]="isLoading" [summaryData]="summaryData" (deleteSummaryEvent)="onDeleteSummary($event)"
      (eidtSummaryEvent)="onEditSummary($event)"></app-summarytable>
  </div>
</div>

<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-plain">
          <div class="card-header pb-0 text-left">
            <h5 class="">
              Summary
              <span class="text-right float-end">
                <button #modalClose data-bs-dismiss="modal"
                  class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                  <i class="material-icons" style="font-size: 30px">close</i>
                </button>
              </span>
            </h5>
            <p class="mb-0">Enter Equipment Details</p>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" *ngIf="isMasterLoading"></div>
            </div>

            <form *ngIf="!isMasterLoading" [formGroup]="form" (ngSubmit)="submitForm()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-form-field text-xs" appearance="outline">
                    <mat-label class="text-bold">Unit</mat-label>
                    <input formControlName="unit" matInput type="text" [ngClass]="
                        (form.controls['unit'].dirty ||
                          form.controls['unit'].touched) &&
                        form.hasError('required', 'unit') == true
                          ? 'border-danger'
                          : ''
                      " />
                    <small class="text-danger float-end" *ngIf="
                        (form.controls['unit'].dirty ||
                          form.controls['unit'].touched) &&
                        form.hasError('required', 'unit')
                      ">
                      Unit or is required
                    </small>
                  </mat-form-field>

                  <div class="input-group input-group-outline text-xs text-center font-weight-bold mb-4">
                    <select formControlName="assetType" class="form-select" name="assetType"
                      [(ngModel)]="selectedAssetType" (change)="onAssetTypeSelect(selectedAssetType)">
                      <option [ngValue]="null" [disabled]="true">
                        --Select asset type
                      </option>
                      <option class="dropdown-item" *ngFor="let assetType of assetTypes" [ngValue]="assetType">
                        {{ assetType.name }}
                      </option>
                    </select>
                  </div>
                  <div>
                    <small class="text-danger" *ngIf="
                        (form.controls['assetType'].dirty ||
                          form.controls['assetType'].touched) &&
                        form.hasError('required', 'assetType')
                      ">
                      Asset Type is required
                    </small>
                  </div>
                  <div class="input-group input-group-outline text-xs text-center font-weight-bold my-4">
                    <select formControlName="size" class="form-select" name="size" [(ngModel)]="selectedSize" [ngClass]="
                        (form.controls['size'].dirty ||
                          form.controls['size'].touched) &&
                        form.hasError('required', 'size') == true
                          ? 'border-danger'
                          : ''
                      " (change)="onSizeSelect(selectedSize)">
                      <option [ngValue]="null" [disabled]="true">
                        --Select Size
                      </option>
                      <option *ngFor="let size of selectedSizes" [ngValue]="size">
                        {{ size.name }}
                      </option>
                    </select>
                  </div>
                  <div>
                    <small class="text-danger" *ngIf="
                        (form.controls['size'].dirty ||
                          form.controls['size'].touched) &&
                        form.hasError('required', 'size')
                      ">
                      size is required
                    </small>
                  </div>

                  <div class="input-group input-group-outline text-xs text-center font-weight-bold my-4">
                    <select formControlName="discription" class="form-select" name="discription"
                      [(ngModel)]="selectedDiscription" [ngClass]="
                        (form.controls['discription'].dirty ||
                          form.controls['discription'].touched) &&
                        form.hasError('required', 'discription') == true
                          ? 'border-danger'
                          : ''
                      " (change)="onDiscriptionSelect(selectedDiscription)">
                      <option [ngValue]="null" [disabled]="true">
                        --Select Description
                      </option>
                      <option *ngFor="let el of selectedDiscriptions" [ngValue]="el">
                        {{ el.discription }}
                      </option>
                    </select>
                  </div>
                  <div>
                    <small class="text-danger" *ngIf="
                        (form.controls['discription'].dirty ||
                          form.controls['discription'].touched) &&
                        form.hasError('required', 'discription')
                      ">
                      Apllication description is required
                    </small>
                  </div>

                  <!--     <div
                    class="input-group input-group-outline text-xs text-center font-weight-bold my-4"
                  >
                    <select
                      formControlName="subApp"
                      class="form-select"
                      name="subApp"
                      [ngClass]="
                        (form.controls['subApp'].dirty ||
                          form.controls['subApp'].touched) &&
                        form.hasError('required', 'subApp') == true
                          ? 'border-danger'
                          : ''
                      "
                      [(ngModel)]="selectedSubApp.quality_id"
                      (change)="onSubAppSelect(selectedSubApp)"
                    >
                      <option [ngValue]="null" [disabled]="true">
                        --Select Duty Apllication
                      </option>
                      <option
                        *ngFor="let subApp of selectedSubApps"
                        [ngValue]="subApp.quality_id"
                      >
                        {{ subApp.desc }}
                      </option>
                    </select>
                  </div>
                  <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        (form.controls['subApp'].dirty ||
                          form.controls['subApp'].touched) &&
                        form.hasError('required', 'subApp')
                      "
                    >
                      Duty apllication is required
                    </small>
                  </div> -->
                </div>

                <div class="col-md-6">
                  <div class="input-group input-group-outline text-xs text-center font-weight-bold my-1">
                    <select formControlName="quality" class="form-select" name="quality" [ngClass]="
                        (form.controls['quality'].dirty ||
                          form.controls['quality'].touched) &&
                        form.hasError('required', 'quality') == true
                          ? 'border-danger'
                          : ''
                      " [ngModel]="selectedQuality">
                      <option [ngValue]="null" [disabled]="true">
                        --Select Quality
                      </option>
                      <option *ngFor="let quality of selectedQualities" [ngValue]="quality">
                        {{ quality.name }}
                      </option>
                    </select>
                  </div>
                  <div>
                    <small class="text-danger" *ngIf="
                        (form.controls['quality'].dirty ||
                          form.controls['quality'].touched) &&
                        form.hasError('required', 'quality')
                      ">
                      quality is required
                    </small>
                  </div>

                  <mat-form-field class="example-form-field text-xs mt-3" appearance="outline">
                    <mat-label class="text-bold">Quantity</mat-label>
                    <input formControlName="quantity" matInput type="text" [ngClass]="
                        (form.controls['quantity'].dirty ||
                          form.controls['quantity'].touched) &&
                        form.hasError('required', 'quantity') == true
                          ? 'border-danger'
                          : ''
                      " />
                    <small class="text-danger float-end" *ngIf="
                        (form.controls['quantity'].dirty ||
                          form.controls['quantity'].touched) &&
                        form.hasError('required', 'quantity')
                      ">
                      Quantity is required
                    </small>
                  </mat-form-field>

                  <mat-form-field class="example-form-field text-xs" appearance="outline">
                    <mat-label class="text-bold">Load %</mat-label>
                    <input formControlName="load" matInput type="text" [ngClass]="
                        (form.controls['load'].dirty ||
                          form.controls['load'].touched) &&
                        form.hasError('required', 'load') == true
                          ? 'border-danger'
                          : ''
                      " />
                    <small class="text-danger float-end" *ngIf="
                        (form.controls['load'].dirty ||
                          form.controls['load'].touched) &&
                        form.hasError('required', 'load')
                      ">
                      Load % is required
                    </small>
                  </mat-form-field>

                  <mat-form-field class="example-form-field text-xs" appearance="outline">
                    <mat-label class="text-bold">Life %</mat-label>
                    <input formControlName="life" matInput type="text" [ngClass]="
                        (form.controls['life'].dirty ||
                          form.controls['life'].touched) &&
                        form.hasError('required', 'life') == true
                          ? 'border-danger'
                          : ''
                      " />
                    <small class="text-danger float-end" *ngIf="
                        (form.controls['life'].dirty ||
                          form.controls['life'].touched) &&
                        form.hasError('required', 'life')
                      ">
                      Life % is required
                    </small>
                  </mat-form-field>

                  <mat-form-field class="example-form-field text-xs" appearance="outline">
                    <mat-label class="text-bold">Summary Style</mat-label>
                    <input formControlName="summaryStyle" matInput type="text" [ngClass]="
                        (form.controls['summaryStyle'].dirty ||
                          form.controls['summaryStyle'].touched) &&
                        form.hasError('required', 'summaryStyle') == true
                          ? 'border-danger'
                          : ''
                      " />
                    <small class="text-danger float-end" *ngIf="
                        (form.controls['summaryStyle'].dirty ||
                          form.controls['summaryStyle'].touched) &&
                        form.hasError('required', 'summaryStyle')
                      ">
                      Summary style is required
                    </small>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Installment Date</mat-label>
                    <input formControlName="installmentDate" matInput [matDatepicker]="picker" />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="text-center mt-4">
                <button type="submit" class="btn bg-gradient-primary m-2">
                  Create
                </button>
                <button type="button" data-bs-dismiss="modal" class="btn bg-gradient-dark m-2"
                  (click)="resetForm()">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>