<aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
  id="sidenav-main" *ngIf="showSideNav">
  <app-side-navbar></app-side-navbar>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
  <app-navbar></app-navbar>

  <div class="container-fluid py-4">
    <button (click)="toggleSideNavShow()" type="button" class="btn bg-gradient-primary mx-2 mb-4 text-right"
      data-bs-toggle="modal" data-bs-target="#modal-form">
      Create Record
    </button>
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h5 class="">Summary
                  <span class="text-right float-end">
                    <button (click)="toggleShowSideNav()" data-bs-dismiss="modal"
                      class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                      <i class="material-icons" style="font-size: 30px">close</i>
                    </button>
                  </span>
                </h5>
                <p class="mb-0">Enter Equipment Details</p>


              </div>
              <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="row">

                    <div class="col-md-6">

                      <label class="form-label text-bold mt-3">Unit or Equipment Functional Description</label>
                      <div class="input-group input-group-outline text-xs text-center font-weight-bold mb-0">
                        <input type="text" formControlName="unitName" class="form-control" placeholder="Please Enter Description"/>
                      </div>

                      <label class="form-label text-bold mt-3" for="assetType">Asset Type</label>
                      <div class="input-group input-group-outline text-xs text-center font-weight-bold mb-0">
                        <select formControlName="assetType" class="form-select" name="assetType"
                          [(ngModel)]="selectedAssetType.id" (change)="onAssetTypeSelect(selectedAssetType)">
                          <option value="0" selected disabled>--Select asset type</option>
                          <option class="dropdown-item" *ngFor="let assetType of assetTypes" [ngValue]="assetType.id">
                            {{ assetType.name }}
                          </option>
                        </select>
                      </div>

                      <label class="form-label text-bold mt-3" for="size">Size</label>
                      <div class="input-group input-group-outline text-xs text-center font-weight-bold mb-0">
                        <select formControlName="size" class="form-select" name="size" [(ngModel)]="selectedSize.app_id"
                          (change)="onSizeSelect(selectedSize)">
                          <option value="0" selected disabled>--Select Size</option>
                          <option *ngFor="let size of selectedSizes" [ngValue]="size.app_id">
                            {{ size.desc }}
                          </option>
                        </select>
                      </div>

                      <label class="form-label text-bold mt-3" for="app">Duty or Application</label>
                      <div class="input-group input-group-outline text-xs text-center font-weight-bold mb-0">
                        <select formControlName="app" class="form-select" name="app" [(ngModel)]="selectedApp.id"
                          (change)="onAppSelect(selectedApp)">
                          <option value="0" selected disabled>--Select Application/Duty</option>
                          <option *ngFor="let app of selectedApps" [ngValue]="app.id">
                            {{ app.desc }}
                          </option>
                        </select>
                      </div>

                      <label class="form-label text-bold mt-3" for="subApp">Sub Duty or Application</label>
                      <div class="input-group input-group-outline text-xs text-center font-weight-bold mb-0">
                        <select formControlName="subApp" class="form-select" name="subApp" [(ngModel)]="selectedSubApp.quality_id"
                          (change)="onSubAppSelect(selectedSubApp)">
                          <option value="0" selected disabled>--Select Sub Application/Duty</option>
                          <option *ngFor="let subApp of selectedSubApps" [ngValue]="subApp.quality_id">
                            {{ subApp.desc }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6">

                      <label class="form-label text-bold mt-3" for="quality">Quality</label>
                      <div class="input-group input-group-outline text-xs text-center font-weight-bold mb-0">
                        <select formControlName="quality" class="form-select" name="quality"
                          [ngModel]="selectedQuality.id">
                          <option value="0" selected disabled>--Select Quality</option>
                          <option *ngFor="let quality of selectedQualities" [ngValue]="quality.id">
                            {{ quality.desc }}
                          </option>
                        </select>
                      </div>

                      <label class="form-label text-bold text-bold mt-3" for="quantity">Quantity</label>
                      <div class="input-group input-group-outline text-xs text-center font-weight-bold mb-0">
                        <input type="text" formControlName="quantity" name="quantity" class="form-control" 
                          onfocus="focused(this)" onfocusout="defocused(this)" placeholder="Please Enter Quantity"/>
                      </div>
                      <label class="form-label text-bold mt-3" for="load">Load %</label>
                      <div class="input-group input-group-outline text-xs text-center font-weight-bold mb-0">
                        <input type="text" formControlName="load" name="load" class="form-control"
                          onfocus="focused(this)" onfocusout="defocused(this)" placeholder="Please Enter Load %" />
                      </div>

                      <label class="form-label text-bold mt-3" for="life">Life %</label>
                      <div class="input-group input-group-outline text-xs text-center font-weight-bold mb-0">
                        <input type="text" formControlName="life" name="life" class="form-control"
                          onfocus="focused(this)" onfocusout="defocused(this)" placeholder="Please Enter Life %" />
                      </div>

                    </div>
                  </div>


                  <div class="text-center mt-4">
                    <button (click)="toggleSideNavShow()" type="submit" data-bs-dismiss="modal"
                      class="btn bg-gradient-primary m-2">
                      Create
                    </button>
                    <button (click)="toggleSideNavShow()" type="button" data-bs-dismiss="modal"
                      class="btn bg-gradient-secondary m-2" (click)="onCancel()">
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-summarytable [summaryArray]="summaryArray"></app-summarytable>
  </div>
  <app-footer></app-footer>
</main>

<app-setting-plugin></app-setting-plugin>