<div class="row mt-6">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <p class="text-white text-capitalize text-bold ps-3">Clients Table</p>
        </div>
      </div>

      <!-- Summary table -->
      <div class="card-body px-0 pb-2">
        <div class="p-0">
          <table class="table table-blocked table-hover mx-3 mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  id
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Client Name
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Company Name
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Address
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Email
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder">
                  Edit
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clientsArray">
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">123456</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{client.clientName}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{client.clientCompanyName}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{client.clientAddress}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{client.clientEmail}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1 ps-3">
                    <div class="d-flex flex-column">
                      <div>
                        <div class="d-flex py-1">
                          <div class="d-flex flex-column">
                            <div ngbDropdown>
                              <button class="btn btn-sm bg-gradient-primary" id="gfg" ngbDropdownToggle>
                                Actions
                              </button>
                              <div ngbDropdownMenu="gfg">
                                <button ngbDropdownItem class="">
                                  <i class="material-icons">edit</i>&nbsp;
                                  Edit
                                </button>
                                <button ngbDropdownItem class="text-danger">
                                  <i class="material-icons">delete</i>&nbsp;
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
