<div class="row mt-6">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <p class="text-white text-capitalize text-bold ps-3">Sites Table</p>
        </div>
      </div>

      <!-- Summary table -->
      <div class="card-body px-0">
        <div class="flex-end px-3 col-md-3 pt-3">
          <mat-form-field class="example-form-field" appearance="outline" class="text-xs">
            <mat-label>Search Sites</mat-label>
            <input matInput type="text" [(ngModel)]="searchText" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <div class="p-0 table-responsive overflow-hidden">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" *ngIf="isLoading"></div>
          </div>
          <div class="table-responsive">
            <table class="table table-blocked table-hover mx-3 mb-0" *ngIf="!isLoading" matSort
              (matSortChange)="sortAssets($event)">
              <thead>
                <tr>
                  <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="siteId">
                    site Id
                  </th>
                  <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="siteName">
                    Site Name
                  </th>
                  <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="clientName">
                    Client Name
                  </th>
                  <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2" mat-sort-header="masterId">
                    Site Status
                  </th>
                  <th class="text-uppercase text-bold text-xs font-weight-bolder">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let site of sortedSites
                      | searchFilter : searchText
                      | paginate : { itemsPerPage: 20, currentPage: p }
                  ">
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ site.siteId }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ site.siteName }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ site.clientName }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm" *ngIf="site.siteStatus == true">
                          Active
                        </p>
                        <p class="mb-0 text-sm" *ngIf="site.siteStatus == false">
                          Inactive
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex ps-3">
                      <div class="d-flex flex-column">
                        <div>
                          <div class="d-flex flex-column">
                            <div>
                              <div class="d-flex">
                                <div class="d-flex flex-column">
                                  <div ngbDropdown container="body" class="fix-size">
                                    <button class="btn btn-sm bg-gradient-primary mb-0" id="gfg" ngbDropdownToggle>
                                      Actions
                                    </button>
                                    <div ngbDropdownMenu="gfg" style="margin-top: 0 !important">
                                      <button ngbDropdownItem data-bs-toggle="modal" data-bs-target="#edit-modal-form"
                                        (click)="editSite(site.siteId)">
                                        <i class="material-icons">edit</i>&nbsp;
                                        Edit
                                      </button>
                                      <button ngbDropdownItem class="text-danger" (click)="deleteSite(site.siteId)">
                                        <i class="material-icons">delete</i>&nbsp; Delete
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-12 pagination-div">
          <pagination-controls class="site-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>