<!-- Details Above Event -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card py-2">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <p class="text-white text-bold text-capitalize ps-4">
              Assets Details
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="isLoading">
          <div class="spinner-border"></div>
        </div>
        <div class="card-body px-0 pb-2" *ngIf="!isLoading">
          <div class="table-blocked">
            <!-- Asset Detail here -->
            <div class="row mx-4">
              <div class="row">
                  <div class="col-md-4">
                  <span>
                    <label class="text-bold">Master ID: &nbsp;</label>
                    <span class="mb-0 opacity-8 text-sm">{{master?.masterId}}</span>
                  </span>
                </div>
                <div class="col-md-4">
                  <span>
                    <label class="text-bold">Old Asset Type: &nbsp;</label>
                    <span class="mb-0 opacity-8 text-sm">{{master?.oldAssetType}}</span>
                  </span>
                </div>
                <div class="col-md-4">
                  <span>
                    <label class="text-bold">New Asset Type: &nbsp;</label>
                    <span class="mb-0 opacity-8 text-sm">{{master?.newAssetType}}</span>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <span>
                    <label class="text-bold">Master Style: &nbsp;</label>
                    <span class="mb-0 opacity-8 text-sm">{{master?.masterStyle}}</span>
                  </span>
                </div>
                <div class="col-md-4">
                  <span>
                    <label class="text-bold">Master Size: &nbsp;</label>
                    <span class="mb-0 opacity-8 text-sm">{{master?.masterSize}}</span>
                  </span>
                </div>
                <div class="col-md-4">
                  <span>
                    <label class="text-bold">Old Description: &nbsp;</label>
                    <span class="mb-0 opacity-8 text-sm">{{master?.oldDescription}}</span>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <span>
                    <label class="text-bold">New Description: &nbsp;</label>
                    <span class="mb-0 opacity-8 text-sm">{{master?.newDescription}}</span>
                  </span>
                </div>
                <div class="col-md-4">
                  <span>
                    <label class="text-bold">Unit Measurement: &nbsp;</label>
                    <span class="mb-0 opacity-8 text-sm">{{ master?.unitMeasurement}}</span>
                  </span>
                </div>
                <div class="col-md-4">
                  <span>
                    <label class="text-bold">Rev: &nbsp;</label>
                    <span class="mb-0 opacity-8 text-sm">{{ master?.rev }}</span>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <span>
                    <label class="text-bold">Replacement Cost: &nbsp;</label>
                    <span class="mb-0 opacity-8 text-sm">{{master?.replacementCost}}</span>
                  </span>
                </div>
                <div class="col-md-4">
                  <span>
                    <label class="text-bold">Life Months: &nbsp;</label>
                    <span class="mb-0 opacity-8 text-sm">{{ master?.lifeMonths }}</span>
                  </span>
                </div>
                <div class="col-md-4">
                  <span>
                    <label class="text-bold">Overhaul Life: &nbsp;</label>
                    <span class="mb-0 opacity-8 text-sm">{{master?.overhaulLife }}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Tabs here -->

          <div class="card mx-4">
            <mat-tab-group mat-align-tabs="left">
              <!-- all tab -->
              <mat-tab label="All">
                <div class="card">
                  <p-treeTable [value]="files" [columns]="cols" class="table">
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th *ngFor="let col of columns" class="">
                          {{ col.header }}
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                      <tr>
                        <td *ngFor="let col of columns; let i = index">
                          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                          <span [ngClass]="{ 'text-bold': i === 0 }">{{rowData[col.field]}}</span>
                        </td>
                      </tr>
                    </ng-template>
                  </p-treeTable>
                </div>
              </mat-tab>

              <!-- overhaul tab -->
              <mat-tab label="Overhaul">

                <table class="table table-responsive table-hover">
                  <thead class="">
                    <tr>
                      <th scope="col">
                        <label class="text-bold mt-2">Overhaul Title</label>
                        <p class="mb-0 text-sm">{{ overhaul.ovTitle }}</p>
                      </th>
                      <th scope="col">
                        <label class="text-bold mt-2">Overhaul Stretch</label>
                        <p class="mb-0 text-sm">{{ overhaul.ovStretch }}</p>
                      </th>
                    </tr>
                  </thead>
                </table>

                  <table class="table table-responsive table-hover">
                    <thead class="bg-light">
                      <tr>
                        <th scope="col" *ngFor="
                        let ovM of overhaul.overhaulMaintenance
                        let i = index
                      ">
                          <label class="text-bold mt-2">Material {{ i + 1 }}</label>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="table-body">
                      <tr>
                        <td scope="row" *ngFor="let ovM of overhaul.overhaulMaintenance">
                          <span>
                            <label for="Labor1" class="form-label text-bold">Maintenance &nbsp;</label>
                            <td>
                              <p class="mb-0 text-sm">{{ ovM.ohMaintenance }}</p>
                            </td>
                          </span>
                          <br />
                          <span>
                            <label for="cost" class="form-label text-bold">Cost: &nbsp;</label>
                            <td>
                              <p class="mb-0 text-sm">{{ ovM.ohCost }}</p>
                            </td>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>


                <table class="table table-responsive table-hover">
                  <thead class="bg-light">
                    <tr>
                      <th scope="col" *ngFor="
                          let ovL of overhaul.overhaulLabours;
                          let iL = index
                        ">
                        <label class="text-bold mt-2">Labor {{ iL + 1 }}</label>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row" *ngFor="let ovL of overhaul.overhaulLabours">
                        <span>
                          <label for="Labor1" class="form-label text-bold">Labor: &nbsp;</label>
                      <td>
                        <p class="mb-0 text-sm">{{ ovL.ohLabour }}</p>
                      </td>
                      </span>
                      <br />
                      <span>
                        <label for="cost" class="form-label text-bold">Hours: &nbsp;</label>
                        <td>
                          <p class="mb-0 text-sm">{{ ovL.ohHour }}</p>
                        </td>
                      </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table-responsive table-hover">
                  <thead class="bg-light">
                    <tr>
                      <th scope="col" *ngFor="
                          let ovC of overhaul.overhaulContractors;
                          let i = index
                        ">
                        <label class="text-bold mt-2">Shop/Contractor {{ i + 1 }}</label>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row" *ngFor="let ovC of overhaul.overhaulContractors">
                        <span>
                          <label for="Labor1" class="form-label text-bold">Labor: &nbsp;</label>
                      <td>
                        <p class="mb-0 text-sm">{{ ovC.ohLabour }}</p>
                      </td>
                      </span>
                      <br />
                      <span>
                        <label for="cost" class="form-label text-bold">Hours: &nbsp;
                        </label>
                        <td>
                          <p class="mb-0 text-sm">{{ ovC.ohHour }}</p>
                        </td>
                      </span>
                      </td>
                    </tr>
                  </tbody>
                </table>


              </mat-tab>

              <!-- events tabs -->
              <mat-tab *ngFor="let event of events; let i = index" label="Event {{ i + 1 }}">

                <table class="table table-responsive table-hover">
                  <thead class="">
                    <tr>
                      <th scope="col">
                        <label class="text-bold mt-2">Event Title</label>
                        <p class="mb-0 text-sm">{{ event.evTitle }}</p>
                      </th>
                      <th scope="col">
                        <label class="text-bold mt-2">Occurence</label>
                        <p class="mb-0 text-sm">{{ event.evOccurence }}</p>
                      </th>
                      <th scope="col">
                        <label class="text-bold mt-2">Stretch</label>
                        <p class="mb-0 text-sm">{{ event.evStretch }}</p>
                      </th>
                    </tr>
                  </thead>
                </table>

                <table class="table table-responsive table-hover">
                  <thead class="bg-light">
                    <tr>
                      <th scope="col" *ngFor="let evM of event.eventMaintenance; let im = index">
                        <label class="text-bold mt-2">Material {{ im + 1 }}</label>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr>
                      <td scope="row" *ngFor="let evM of event.eventMaintenance">
                        <span>
                          <label for="Labor1" class="form-label text-bold">Maintenance &nbsp;</label>
                          <td >
                            <p class="mb-0 text-sm">{{ evM.evMaintenance }}</p>
                          </td>
                        </span>
                        <br />
                        <span>
                          <label for="cost" class="form-label text-bold">Cost: &nbsp;</label>
                          <td>
                            <p class="mb-0 text-sm">{{ evM.evCost }}</p>
                          </td>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table-responsive table-hover">
                  <thead class="bg-light">
                    <tr>
                      <th scope="col" *ngFor="let evL of event.eventLabours; let il = index">
                        <label class="text-bold mt-2">Labor {{ il + 1 }}</label>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr>
                      <td scope="row" *ngFor="let evL of event.eventLabours">
                        <span>
                          <label for="Labor1" class="form-label text-bold">Labor &nbsp;</label>
                          <td >
                            <p class="mb-0 text-sm">{{ evL.evLabour }}</p>
                          </td>
                        </span>
                        <br />
                        <span>
                          <label for="cost" class="form-label text-bold">Hours &nbsp;</label>
                          <td>
                            <p class="mb-0 text-sm">{{ evL.evHour }}</p>
                          </td>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table-responsive table-hover">
                  <thead class="bg-light">
                    <tr>
                      <th scope="col" *ngFor="let evC of event.eventContractors; let ic = index">
                        <label class="text-bold mt-2">Shop/Contractor {{ i + 1 }}</label>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr>
                      <td scope="row" *ngFor="let evC of event.eventContractors">
                        <span>
                          <label for="Labor1" class="form-label text-bold">Contractor &nbsp;</label>
                          <td >
                            <p class="mb-0 text-sm">{{ evC.evContractor }}</p>
                          </td>
                        </span>
                        <br />
                        <span>
                          <label for="cost" class="form-label text-bold">Cost &nbsp;</label>
                          <td>
                            <p class="mb-0 text-sm">{{ evC.evCost }}</p>
                          </td>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </mat-tab>
            </mat-tab-group>
          </div>
          <!-- Event Evaluation Overview -->

          <div class="card m-4" *ngIf="eventEvalTableShow">
            <div style="width: 100%; overflow-x: scroll" class="table-responsive">
              <table class="table tabel-responsive">
                <tbody>
                  <!-- header list  -->
                  <tr class="bg-light">
                    <th>
                      <h6 class="form-label text-bold m-2">
                        Event Evaluation Overview:
                      </h6>
                    </th>
                    <th>
                      <label class="text-bold mt-2">OverHaul</label>
                    </th>
                    <th *ngFor="let event of events let i = index">
                      <label class="text-bold mt-2">Event {{i+1}}</label>
                    </th>
                  </tr>

                  <tr>
                    <td class="bg-light">
                      <label class="text-bold">Total Material Cost</label>
                    </td>
                    <td>
                      <p class="mb-0 text-sm">{{ovMaterialsCost}}</p>
                    </td>
                    <td *ngFor="let event of events let i = index">
                      <p class="mb-0 text-sm">{{event.eventMaintenance[i]?.evCost}}</p>
                    </td>
                  </tr>

                  <tr>
                    <td class="bg-light">
                      <label class="text-bold">Total Outside SVC Cost</label>
                    </td>
                    <td>
                      <p class="mb-0 text-sm">{{ovContractorsHours}}</p>
                    </td>
                  </tr>

                  <tr>
                    <td class="bg-light">
                      <label class="text-bold">Total Labor Cost - Unskilled</label>
                    </td>
                    <td>
                      <p class="mb-0 text-sm">{{ovLaborUnskilled}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="bg-light">
                      <label class="text-bold">Total Labor Cost - Basic Skilled</label>
                    </td>
                    <td>
                      <p class="mb-0 text-sm">{{ovLaborBasicSkilled}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="bg-light">
                      <label class="text-bold">Total Labor Cost - Technical</label>
                    </td>
                    <td>
                      <p class="mb-0 text-sm">{{ovLaborTechnical}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="bg-light">
                      <label class="text-bold">Total Labor Cost - Technical</label>
                    </td>
                    <td>
                      <p class="mb-0 text-sm">{{ovLaborTechnical}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="bg-light">
                      <label class="text-bold">Total Labor Cost - Specialized</label>
                    </td>
                    <td>
                      <p class="mb-0 text-sm">{{ovLaborSpecialized}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="bg-light">
                      <label class="text-bold">Total Labor Cost - Certified</label>
                    </td>
                    <td>
                      <p class="mb-0 text-sm">{{ovLaborCertified}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="bg-light">
                      <label class="text-bold">Total Labor Cost - Supervisory</label>
                    </td>
                    <td>
                      <p class="mb-0 text-sm">{{ovLaborSupervisory}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
