<!-- Details Above Event -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <p class="text-white text-capitalize ps-3">Assets Details</p>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-blocked p-0">
            <table class="table align-items-center mb-0">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <label class="text-bold mt-2">Asset Id</label>
                        <p class="mb-0 text-sm">1</p>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <label class="text-bold mt-2">Asset Name</label>
                        <p class="mb-0 text-sm">assetname1</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <label class="text-bold mt-2">App Description</label>
                        <p class="mb-0 text-sm">asset appDesc1</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <label class="text-bold mt-2">unit Measure</label>
                        <p class="mb-0 text-sm">unit Measurement</p>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <label class="text-bold mt-2">Rev</label>
                        <p class="mb-0 text-sm">Revenue</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <label class="text-bold mt-2">Unit Code</label>
                        <p class="mb-0 text-sm">124</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <label class="text-bold mt-2">App Code</label>
                        <p class="mb-0 text-sm">123</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <label class="text-bold mt-2">Replacement Cost</label>
                        <p class="mb-0 text-sm">345</p>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <label class="text-bold mt-2">Life MOs</label>
                        <p class="mb-0 text-sm">12</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <label class="text-bold mt-2">OH life</label>
                        <p class="mb-0 text-sm">100</p>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <mat-tab-group mat-align-tabs="center" class="mt-3">
              <mat-tab label="Event1">
                <table class="table table-hover mt-4">
                  <tr>
                    <td>
                      <table class="table table-blocked  table-striped">
                        <tbody>
                          <tr>
                            <th>
                              <label class="text-bold mt-2">Event1</label>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                          <tr colspan="1">
                            <td>
                              <label for="maintenance" class="form-label">Event title</label>
                              <p class="mb-0 text-sm">title1</p>
                            </td>
                            <td>
                              <label for="maintenance" class="form-label">Every</label>
                              <p class="mb-0 text-sm">12</p>
                            </td>
                            <td>
                              <label for="maintenance" class="form-label">Strch</label>
                              <p class="mb-0 text-sm">yes</p>
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th>
                              <label class="text-bold mt-2">Maintenance1</label>
                            </th>
                            <th>
                              <label class="text-bold mt-2">Maintenance2</label>
                            </th>
                            <th>
                              <label class="text-bold mt-2">Maintenance3</label>
                            </th>
                            <th>
                              <label class="text-bold mt-2">Maintenance4</label>
                            </th>
                            <th>
                              <label class="text-bold mt-2">Maintenance5</label>
                            </th>
                          </tr>
                          <tr>
                            <td>
                              <label for="maintenance" class="form-label">Desc</label>
                              <p class="mb-0 text-sm">description 1</p>
                              <label for="cost" class="form-label">Cost</label>
                              <p class="mb-0 text-sm">12</p>
                            </td>
                            <td>
                              <label for="maintenance" class="form-label">Desc</label>
                              <p class="mb-0 text-sm">m2desc2</p>
                              <label for="cost" class="form-label">Cost</label>
                              <p class="mb-0 text-sm">1234</p>
                            </td>
                            <td>
                              <label for="maintenance" class="form-label">Desc</label>
                              <p class="mb-0 text-sm">description dshflaskdjf</p>
                              <label for="cost" class="form-label">Cost</label>
                              <p class="mb-0 text-sm">1234</p>
                            </td>
                            <td>
                              <label for="maintenance" class="form-label">Desc</label>
                              <p class="mb-0 text-sm">jdgsla;kjhsdglk</p>
                              <label for="cost" class="form-label">Cost</label>
                              <p class="mb-0 text-sm">123</p>
                            </td>
                            <td>
                              <label for="maintenance" class="form-label">Desc</label>
                              <p class="mb-0 text-sm">fgsdh</p>
                              <label for="cost" class="form-label">Cost</label>
                              <p class="mb-0 text-sm">456</p>
                            </td>
                          </tr>
                          <tr>
                            <th><label class="text-bold mt-2">labor1</label></th>
                            <th><label class="text-bold mt-2">labor2</label></th>
                            <th><label class="text-bold mt-2">labor3</label></th>
                            <th><label class="text-bold mt-2">labor4</label></th>
                            <th></th>
                          </tr>
                          <tr>
                            <td>
                              <label for="maintenance" class="form-label">level</label>
                              <p class="mb-0 text-sm">skilled</p>
                              <label for="cost" class="form-label">Hours</label>
                              <p class="mb-0 text-sm">23</p>
                            </td>
                            <td>
                              <label for="maintenance" class="form-label">level</label>
                              <p class="mb-0 text-sm">unskilled</p>
                              <label for="cost" class="form-label">Hours</label>
                              <p class="mb-0 text-sm">4</p>
                            </td>
                            <td>
                              <label for="maintenance" class="form-label">level</label>
                              <p class="mb-0 text-sm">skilled</p>
                              <label for="cost" class="form-label">Hours</label>
                              <p class="mb-0 text-sm">4</p>
                            </td>
                            <td>
                              <label for="maintenance" class="form-label">level</label>
                              <p class="mb-0 text-sm">skilled</p>
                              <label for="cost" class="form-label">Hours</label>
                              <p class="mb-0 text-sm">5</p>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <th><label class="text-bold mt-2">cost1</label></th>
                            <th><label class="text-bold mt-2">cost2</label></th>
                            <th><label class="text-bold mt-2">cost3</label></th>
                            <th></th>
                            <th></th>
                          </tr>
                          <tr>
                            <td>
                              <label for="maintenance" class="form-label">Description</label>
                              <p class="mb-0 text-sm">jdsfkljgher</p>
                              <label for="cost" class="form-label">Amount</label>
                              <p class="mb-0 text-sm">7</p>
                            </td>
                            <td>
                              <label for="maintenance" class="form-label">Description</label>
                              <p class="mb-0 text-sm">ghstjkr</p>
                              <label for="cost" class="form-label">Amount</label>
                              <p class="mb-0 text-sm">343</p>
                            </td>
                            <td>
                              <label for="maintenance" class="form-label">Description</label>
                              <p class="mb-0 text-sm">asdg</p>
                              <label for="cost" class="form-label">Amount</label>
                              <p class="mb-0 text-sm">45</p>
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </mat-tab>
              <mat-tab label="Event2"></mat-tab>
              <mat-tab label="Event3"></mat-tab>
              <mat-tab label="Event4"></mat-tab>
              <mat-tab label="Event5"></mat-tab>
              <mat-tab label="Event6"></mat-tab>
              <mat-tab label="Event7"></mat-tab>
              <mat-tab label="Event8"></mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
