.Data-Wrap{

    white-space: normal !important;
    width:300px;
    word-wrap: break-word;
  
  }

//   tr>th:first-child,tr>td:first-child {
//     position: sticky;
//     left: 0;
//    }
//   tr:nth-child(odd) td {
//     background: white;
//  }
 
//  tr:nth-child(even) td {
//     background: gray-200;
//  }