<div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card card-plain">
        <div class="card-header pb-0 text-left">
          <h5 class="">
            Summary
            <span class="text-right float-end">
              <button data-bs-dismiss="modal" class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                <i class="material-icons" style="font-size: 30px">close</i>
              </button>
            </span>
          </h5>
          <p class="mb-0">Equipment Details</p>
        </div>
        <div class="container-fluid ">
          <div class="float-end">
              <button type="button" (click)="exportToExcel('summaryYears')" class="btn bg-gradient-primary text-right m-2">
                Export Summary
              </button>
          </div>
        </div>


        <div class="card-body  table-responsive m-4">
          <table class="table table-hover" id="summaryTable">
            <thead>
              <!-- header list  -->
              <tr class="bg-light">
                <th class="px-2">
                  <label class="text-bold mt-2 Data-Wrap">Unit or Equipment Functional Description</label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2">Summary ID</label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2">Date Created</label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2">Installation Date</label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2">Life %</label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2">Average Year</label>
                </th>
                <th *ngFor="let header of assetTableHeaders" class="px-2">
                  <p class="form-label text-bold mt-2">{{header}}</p>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="bg-light">
                  <label class="text-bold Data-Wrap">Total</label>
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                  <p class="mb-0 text-sm text-bold">{{totalAverageYearsCost | currency : "USD" : 'symbol' : '1.0-0'}}</p>
                </td>
                <td *ngFor="let yearlyCost of totalYearsCosts let y = index">
                  <p class="mb-0 text-sm text-bold">{{ totalYearsCosts.at(y+1) | currency : "USD" : 'symbol' : '1.0-0'}}</p>
                </td>
              </tr>
              <tr *ngFor="let summary of summaryArray let i = index;">
                <td class="bg-light Data-Wrap">
                  <label class="text-bold ">{{yearsCostsViewTable[i]?.at(0)}}</label>
                </td>
                <td><p class="mb-0 text-sm">{{yearsCostsViewTable[i]?.at(1)}}</p></td>

                <td><p class="mb-0 text-sm">{{yearsCostsViewTable[i]?.at(2)| date:'mediumDate'}}</p></td>
                <td><p class="mb-0 text-sm">{{yearsCostsViewTable[i]?.at(3)| date:'mediumDate'}}</p></td>
                <td>
                  <p class="mb-0 text-sm">{{yearsCostsViewTable[i]?.at(4)}}%</p>
                </td>
                <td>
                  <p class="mb-0 text-sm">{{averagesOfYears[i] | currency : "USD" : 'symbol' : '1.0-0'}}</p>
                </td>
                <td *ngFor="let yearlyCost of yearsCostsViewTable[i]?.at(5) let y = index">
                  <p class="mb-0 text-sm">{{ yearsCostsViewTable[i]?.at(5).at(y+1) | currency : "USD" : 'symbol' : '1.0-0'}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
