<div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card card-plain">
        <div class="card-header pb-0 text-left">
          <h5 class="">
            Summary
            <span class="text-right float-end">
              <button data-bs-dismiss="modal" class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                <i class="material-icons" style="font-size: 30px" (click)="onModalClose()">close</i>
              </button>
            </span>
          </h5>
          <p class="mb-0">Equipment Details</p>
        </div>
        <div class="container-fluid ">
          <div class="float-end"  *ngIf="!isLoading">
            <button type="button" (click)="exportToExcel('summaryYears')"
              class="btn bg-gradient-primary text-right m-2">
              Export Summary
            </button>
          </div>
        </div>

        <div class="card-body  table-responsive m-4 custom-table">
          <div class="d-flex justify-content-center mt-4">
            <div class="spinner-border" *ngIf="isLoading"></div>
          </div>
          <table class="table table-hover" id="summaryTable" matSort (matSortChange)="sortAssets($event)" *ngIf="!isLoading">
            <thead>
              <!-- header list  -->
              <tr class="bg-light" style="z-index: 50rem;">
                <th class="px-2 unit-col">
                  <label class="text-bold mt-2 Data-Wrap" mat-sort-header="unit">
                    Asset Description
                  </label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2 Data-Wrap">
                    Unit Template Descripton
                  </label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2">Hierarchy</label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2" mat-sort-header="summaryId">Summary ID</label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2">Date Created</label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2">Installation Date</label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2">Life %</label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2">Load %</label>
                </th>
                <th class="px-2">
                  <label class="text-bold mt-2">Average Year</label>
                </th>
                <th *ngFor="let header of assetTableHeaders" class="px-2">
                  <p class="form-label text-bold mt-2">{{header}}</p>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="total-row">
                <td class="bg-light">
                  <label class="text-bold Data-Wrap">Total</label>
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                  <p class="mb-0 text-sm text-bold">{{totalAverageYearsCost | currency : "USD" : 'symbol' : '1.0-0'}}
                  </p>
                </td>
                <td *ngFor="let yearlyCost of totalYearsCosts let y = index">
                  <p class="mb-0 text-sm text-bold">{{ totalYearsCosts.at(y+1) | currency : "USD" : 'symbol' : '1.0-0'}}
                  </p>
                </td>
              </tr>
              <tr *ngFor="let summary of summaryArray let i = index;">
                <td class="bg-light Data-Wrap unit-col">
                  <label class="text-bold ">{{sortedYearsCostsViewTable[i]?.at(0)}}</label>
                </td>
                <td>
                  <p class="mb-0 text-sm Data-Wrap">{{sortedYearsCostsViewTable[i]?.at(1)}}</p>
                </td>
                <td>
                  <p class="mb-0 text-sm">{{sortedYearsCostsViewTable[i]?.at(2)}}</p>
                </td>
                <td>
                  <p class="mb-0 text-sm">{{sortedYearsCostsViewTable[i]?.at(3)}}</p>
                </td>
                <td>
                  <p class="mb-0 text-sm">{{sortedYearsCostsViewTable[i]?.at(4)| date:'mediumDate'}}</p>
                </td>
                <td>
                  <p class="mb-0 text-sm">{{sortedYearsCostsViewTable[i]?.at(5)| date:'mediumDate'}}</p>
                </td>
                <td>
                  <p class="mb-0 text-sm">{{sortedYearsCostsViewTable[i]?.at(6)}}</p>
                </td>
                <td>
                  <p class="mb-0 text-sm">{{sortedYearsCostsViewTable[i]?.at(7)}}</p>
                </td>
                <td>
                  <p class="mb-0 text-sm">{{sortedYearsCostsViewTable[i]?.at(8) | currency : "USD" : 'symbol' :
                    '1.0-0'}}</p>
                </td>
                <td *ngFor="let yearlyCost of sortedYearsCostsViewTable[i]?.at(9) let y = index">
                  <p class="mb-0 text-sm">{{ sortedYearsCostsViewTable[i]?.at(9).at(y+1) | currency : "USD" : 'symbol' :
                    '1.0-0'}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
