<div>
  <div class="sidenav-header">
    <i class="fas fa-times  text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true"
      id="iconSidenav"></i>
    <a class="navbar-brand m-0" target="_blank">
      <img src="../../../assets/img/sidenav-veolia-logo.png" class="navbar-brand-img h-100" alt="main_logo">
    </a>
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div class="collapse navbar-collapse w-auto h-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">

      <div *ngIf="!isClientListRoute()">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/dashboard" [routerLinkActive]="['bg-gradient-primary']">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/summary" [routerLinkActive]="['bg-gradient-primary']">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">Summary</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/unit" [routerLinkActive]="['bg-gradient-primary']">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Unit</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/master" [routerLinkActive]="['bg-gradient-primary']">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">location_city</i>
            </div>
            <span class="nav-link-text ms-1">Master</span>
          </a>
        </li>
      </div>

      <div *ngIf="isClientListRoute() && (this.role === 'admin' || this.role === 'power_user')">>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Admin</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " routerLink="/clients" [routerLinkActive]="['bg-gradient-primary']">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">people</i>
            </div>
            <span class="nav-link-text ms-1">Clients</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " routerLink="/sites" [routerLinkActive]="['bg-gradient-primary']">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">business</i>
            </div>
            <span class="nav-link-text ms-1">Sites</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="this.role!='power_user'">
          <a class="nav-link text-white " routerLink="/users" [routerLinkActive]="['bg-gradient-primary']">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">people_outline</i>
            </div>
            <span class="nav-link-text ms-1">Users</span>
          </a>
        </li>
      </div>
      <div *ngIf="!isClientListRoute() && (this.role === 'admin' || this.role === 'power_user')">>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Admin</h6>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white " routerLink="/clients" [routerLinkActive]="['bg-gradient-primary']">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">people</i>
            </div>
            <span class="nav-link-text ms-1">Clients</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " routerLink="/sites" [routerLinkActive]="['bg-gradient-primary']">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">business</i>
            </div>
            <span class="nav-link-text ms-1">Sites</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="this.role!='power_user'">
          <a class="nav-link text-white " routerLink="/users" [routerLinkActive]="['bg-gradient-primary']">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">people_outline</i>
            </div>
            <span class="nav-link-text ms-1">Users</span>
          </a>
        </li>
      </div>

    </ul>
  </div>

</div>