
<aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
  *ngIf="showSideNav"
  id="sidenav-main">
  <app-side-navbar></app-side-navbar>
</aside>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">

  <app-navbar></app-navbar>

  <!-- form here -->
  <div class="container-fluid py-4">
    <button (click)="toggleShowSideNav()" type="button" class="btn bg-gradient-primary mb-6 mt-3 text-right" data-bs-toggle="modal"
      data-bs-target="#modal-form">
      Create Master
    </button>
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h5 class="">Master</h5>
                <p class="mb-0">Enter Master Details</p>
              </div>
              <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label">Unit Description</label>
                    <input type="text" formControlName="unitDesc" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>
                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label">App Description</label>
                    <input type="text" formControlName="appDesc" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>
                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label">Unit Measurement</label>
                    <input type="text" formControlName="unitMeas" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>
                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label">Rev</label>
                    <input type="text" formControlName="rev" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>
                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label">Unit Code</label>
                    <input type="text" formControlName="unitCode" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>
                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label">App Code</label>
                    <input type="text" formControlName="appCode" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>
                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label">Replacement Cost</label>
                    <input type="text" formControlName="replCost" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>
                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label">Life MO's</label>
                    <input type="text" formControlName="lifeMOs" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>
                  <div class="input-group input-group-outline my-3 text-xs text-center font-weight-bold mb-0">
                    <label class="form-label">OH Life</label>
                    <input type="text" formControlName="OHLife" class="form-control form-floating"
                      onfocus="focused(this)" onfocusout="defocused(this)" />
                  </div>
                  <select formControlName="event" class="input-group input-group-outline form-select my-3 mb-0"
                    name="event">
                    <option value="" class="opacity-7" selected disabled>
                      --select event
                    </option>
                    <option value="event1">Event1</option>
                    <option value="event2">Event2</option>
                    <option value="event1">Event3</option>
                    <option value="event1">Event4</option>
                    <option value="event1">Event5</option>
                    <option value="event1">Event6</option>
                    <option value="event1">Event7</option>
                    <option value="event1">Event8</option>
                  </select>
                  <mat-tab-group mat-align-tabs="center" class="mt-3">
                    <mat-tab label="Event1"></mat-tab>
                    <mat-tab label="Event2"></mat-tab>
                    <mat-tab label="Event3"></mat-tab>
                    <mat-tab label="Event4"></mat-tab>
                    <mat-tab label="Event5"></mat-tab>
                    <mat-tab label="Event6"></mat-tab>
                    <mat-tab label="Event7"></mat-tab>
                    <mat-tab label="Event8"></mat-tab>
                  </mat-tab-group>

                  <label class="text-bold mt-2">Maintenance</label>
                  <div>
                    <a type="button" (click)="addMaintenance()"><span class="material-icons">add_box</span></a>
                  </div>
                  <table formArrayName="maintenances">
                    <tr *ngFor="
                        let maintenance of maintenances().controls;
                        let i = index
                      " [formGroupName]="i">
                      <td>
                        <label for="maintenance" class="form-label">Desc</label>
                        <input type="text" formControlName="desc" class="form-control" />
                      </td>
                      <td>
                        <label for="cost" class="form-label">Cost</label>
                        <input type="text" formControlName="cost" class="form-control" />
                      </td>
                      <td>
                        <button (click)="removeMaintenance(i)" class="btn btn-sm bg-gradient-danger mx-2 mt-5">
                          Remove
                        </button>
                      </td>
                    </tr>
                  </table>

                  <label class="text-bold mt-2">Labor</label>
                  <div>
                    <a type="button" (click)="addLabor()"><span class="material-icons"> add_box </span></a>
                  </div>
                  <table formArrayName="labors">
                    <tr *ngFor="let item of labors().controls; let i = index" [formGroupName]="i">
                      <td>
                        <label for="level" class="form-label">Level</label>
                        <input type="text" formControlName="level" class="form-control" />
                      </td>
                      <td>
                        <label class="form-label" for="hrs">Hrs</label>
                        <input type="text" formControlName="hrs" class="form-control" />
                      </td>
                      <td>
                        <button (click)="removeLabor(i)" class="btn btn-sm bg-gradient-danger mx-2 mt-5">
                          Remove
                        </button>
                      </td>
                    </tr>
                  </table>

                  <label class="text-bold mt-2">Cost</label>
                  <div>
                    <a type="button" (click)="addCost()"><span class="material-icons">add_box</span></a>
                  </div>
                  <table formArrayName="costs">
                    <tr *ngFor="let cost of costs().controls; let i = index" [formGroupName]="i">
                      <td>
                        <label for="maintenance" class="form-label">Desc</label>
                        <input type="text" formControlName="desc" class="form-control" />
                      </td>
                      <td>
                        <label for="cost" class="form-label">Cost</label>
                        <input type="text" formControlName="cost" class="form-control" />
                      </td>
                      <td>
                        <button (click)="removeCost(i)" class="btn btn-sm bg-gradient-danger mx-2 mt-5">
                          Remove
                        </button>
                      </td>
                    </tr>
                  </table>
                  <div class="text-center">
                    <button (click)="toggleShowSideNav()" type="submit" data-bs-dismiss="modal" class="btn bg-gradient-primary m-2">
                      Create
                    </button>
                    <button (click)="toggleShowSideNav()" type="button" data-bs-dismiss="modal" class="btn bg-gradient-secondary m-2">
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</main>
<app-setting-plugin></app-setting-plugin>
