<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                <div class="d-flex flex-column align-items-center text-center mt-6">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                width="150">
            </div>
              </div>
              <div class="col-md-10">
                <div class="card m-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    Kenneth Valdez
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    fip@jukmuh.al
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    (239) 816-9029
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Mobile</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    (320) 380-4539
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    Bay Area, San Francisco, CA
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <a class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#modal-form">Edit</a>
                  </div>
                </div>
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- user update form here -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-plain">
          <div class="card-header pb-0 text-left">
            <h5 class="">User
              <span class="text-right float-end">
                <button data-bs-dismiss="modal"
                  class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                  <i class="material-icons" style="font-size: 30px">close</i>
                </button>
              </span>
            </h5>
            <p class="mb-0">Update User Details</p>
          </div>
          <div class="card-body">
            <form role="form">
              <div class="row">
                  <div class="my-1">
                    <label class="form-label text-bold">Name</label>
                    <div class="input-group input-group-outline">
                      <input type="text" class="form-control" placeholder="Please Enter Name" />
                    </div>
                  </div>
                  <div class="my-1">
                    <label class="form-label text-bold">Email</label>
                    <div class="input-group input-group-outline">
                      <input type="email" class="form-control" placeholder="Please Enter email"
                         />
                    </div>
                  </div>
                  <div class="my-1">
                    <label class="form-label text-bold">Address</label>
                    <div class="input-group input-group-outline">
                      <input type="text" class="form-control" placeholder="Please Enter email"
                         />
                    </div>
                  </div>
                  <div class="my-1">
                    <label class="form-label text-bold">Password</label>
                    <div class="input-group input-group-outline">
                      <input type="password" class="form-control" placeholder="Please Enter email"
                         />
                    </div>
                  </div>
                  <div class="my-1">
                    <label class="form-label text-bold">Confirm Password</label>
                    <div class="input-group input-group-outline">
                      <input type="password" class="form-control" placeholder="Please Enter email"
                         />
                    </div>
                  </div>
                </div>
              <div class="text-center mt-2">
                <button type="submit" data-bs-dismiss="modal"
                  class="btn bg-gradient-primary m-2">
                  Create
                </button>
                <button type="button" data-bs-dismiss="modal"
                  class="btn bg-gradient-secondary m-2">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
