<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" *ngIf="isLoading"></div>
            </div>
            <div class="row"  *ngIf="!isLoading">
              <div class="col-md-2">
                <div class="d-flex flex-column align-items-center text-center mt-6">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="profile picture"
                    class="rounded-circle" width="150">
                </div>
              </div>
              <div class="col-md-10">
                <div class="card m-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Username</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.userName}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.userEmail}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Role</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.role}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-12">
                        <a class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#modal-form">Edit</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- user update form here -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-plain">
          <div class="card-header pb-0 text-left">
            <h5 class="">User
              <span class="text-right float-end">
                <button data-bs-dismiss="modal" class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                  <i class="material-icons" style="font-size: 30px">close</i>
                </button>
              </span>
            </h5>
            <p class="mb-0">Update User Details</p>
          </div>
          <div class="card-body">
            <form [formGroup]="form" role="form">
              <div class="row">
                <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                  <mat-label class="text-bold">Username</mat-label>
                  <input formControlName="username" matInput type="text" [ngClass]="
                    (form.controls['username'].dirty ||
                      form.controls['username'].touched) &&
                    form.hasError('required', 'username') == true? 'border-danger': ''" />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['username'].dirty ||
                      form.controls['username'].touched) &&
                    form.hasError('required', 'username')">
                    username is required
                  </small>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-form-field text-xs my-1">
                  <mat-label>Select</mat-label>
                  <mat-select formControlName="role" [value]="form.value.role" [ngClass]="
                  (form.controls['role'].dirty ||
                    form.controls['role'].touched) &&
                  form.hasError('required', 'role') == true? 'border-danger': ''">
                    <mat-option value="admin">Admin</mat-option>
                    <mat-option value="user">User</mat-option>
                  </mat-select>
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['role'].dirty ||
                      form.controls['role'].touched) &&
                    form.hasError('required', 'role')">
                    role is required
                  </small>
                </mat-form-field>

                <mat-form-field class="example-form-field text-xs my-1" appearance="outline">
                  <mat-label class="text-bold">Email</mat-label>
                  <input formControlName="email" matInput type="text" [ngClass]="
                    (form.controls['email'].dirty ||
                      form.controls['email'].touched) &&
                    form.hasError('required', 'email') == true? 'border-danger': ''" />
                  <small class="text-danger float-end" *ngIf="
                    (form.controls['email'].dirty ||
                      form.controls['email'].touched) &&
                    form.hasError('required', 'email')">
                    email is required
                  </small>
                </mat-form-field>
              </div>
              <div class="text-center mt-2">
                <button type="submit" (click)="updateUser()" data-bs-dismiss="modal"
                  class="btn bg-gradient-primary m-2">
                  Update
                </button>
                <button type="button" data-bs-dismiss="modal" class="btn bg-gradient-dark m-2">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
