



<div class="col-md-4">
  <button type="button" class="btn btn-block btn-light mb-3 text-center" data-bs-toggle="modal" data-bs-target="#modal-form">Create unit Model</button>
  <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h5 class="">Unit Model</h5>
              <p class="mb-0">Maintenance Items</p>
            </div>
            <div class="card-body">
              <form role="form text-left">
                <div class="input-group input-group-outline my-3">
                  <div class="input-group input-group-outline my-3">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                  </div>
                  <div class="input-group input-group-outline my-3">
                    <label class="form-label">Perform every (mo's)</label>
                    <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                  </div>

                <div class="input-group input-group-outline my-3">
                  <div class="dropdown">
                    <button class="btn bg-gradient-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      Stretch for partial loading
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><a class="dropdown-item" href="#">Yes</a></li>
                      <li><a class="dropdown-item" href="#">No</a></li>
                    </ul>
                  </div>
                </div>

                <div class="input-group input-group-outline my-3">
                  <div class="dropdown">
                    <button class="btn bg-gradient-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      Material
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li class="dropdown-item">
                        <label class="form-label">Item</label>
                        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                      </li>
                      <li class="dropdown-item">
                        <label class="form-label">Cost</label>
                        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                      </li>
                    </ul>
                  </div>
                </div>

              <!-- ------------------------------- -->

              </div>

                <div class="input-group input-group-outline my-3">
                  <label class="form-label">UnitMeas</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>

                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Rev</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">UnitCode</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">AppCode</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">ReplCost</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Lifemos</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">OHLife</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Ev1title</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Ev1Every</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>

                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Ev1Strch</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Ev1M1</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">UnitMeas</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Ev1M1Cst</label>
                  <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>

                <div class="text-center">
                  <button type="button" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Create</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
