<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <h6 class="text-white text-capitalize ps-3">Summary Table</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="p-0">
          <table class="table table-blocked  mb-0">
            <thead>
              <tr>
                <th class=" text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                  Unit Name
                </th>
                <th class=" text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                  Asset Type
                </th>
                <th class=" text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                  Size
                </th>
                <th class=" text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                  Application/Duty
                </th>
                <th class=" text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                  Sub Application/Duty
                </th>
                <th class=" text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                  Quality
                </th>
                <th class=" text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                  Quantity
                </th>
                <th class=" text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                  Load
                </th>
                <th class=" text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                  Life
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let model of summaryArray">
                <td>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xxs">{{ model.unitName }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xxs">{{ model.assetType.name }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xxs">{{ model.size.desc }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xxs">{{ model.app.desc }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xxs">{{ model.subApp.desc }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xxs">{{ model.quality.desc }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xxs">{{ model.quantity }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xxs">{{ model.load }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xxs">{{ model.life }}</h6>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
