<div class="row mx-1">
  <div class="col-12">
    <div class="card my-1">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <p class="text-white text-capitalize text-bold ps-3">Summary Table</p>
        </div>
      </div>
      <!-- Summary table -->
      <div class="card-body px-0">
        <div class="d-flex justify-content-center">
          <div class="spinner-border mt-6" *ngIf="isLoading"></div>
        </div>
        <div class="flex-end px-3 col-md-3 mt-3" *ngIf="!isLoading">
          <mat-form-field class="example-form-field" appearance="outline" class="text-xs">
            <mat-label>Search Assets</mat-label>
            <input matInput type="text" [(ngModel)]="searchText" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="p-0 table-responsive custom-table" *ngIf="!isLoading">
          <p-table [value]="summaryData" dataKey="summaryId" editMode="row" [scrollable]="true"
             [resizableColumns]="true">
            <ng-template pTemplate="header">
              <tr>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Actions
                </th>
                <th pSortableColumn="summaryId" class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  ID <p-sortIcon field="summaryId"></p-sortIcon>
                </th>
                <th pSortableColumn="masterId" class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Master Id <p-sortIcon field="masterId"></p-sortIcon>
                </th>
                <th pSortableColumn="eqpFunctionalDesc"
                  class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Unit or Equipment Functional Description <p-sortIcon field="eqpFunctionalDesc"></p-sortIcon>
                </th>
                <th pSortableColumn="assetType" class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Asset Type <p-sortIcon field="assetType"></p-sortIcon>
                </th>
                <th pSortableColumn="summaryStyle" class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Style <p-sortIcon field="summaryStyle"></p-sortIcon>
                </th>
                <th pSortableColumn="summarySize" class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Size <p-sortIcon field="summarySize"></p-sortIcon>
                </th>
                <th pSortableColumn="dutyApplication" class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Duty/Application <p-sortIcon field="dutyApplication"></p-sortIcon>
                </th>
                <th pSortableColumn="quality" class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Quality <p-sortIcon field="quality"></p-sortIcon>
                </th>
                <th pSortableColumn="quantity" class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Quantity <p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="summaryload" class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Load% <p-sortIcon field="summaryload"></p-sortIcon>
                </th>
                <th pSortableColumn="installmentDate" class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Installation Date <p-sortIcon field="installmentDate"></p-sortIcon>
                </th>
                <th pSortableColumn="life" class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Life% <p-sortIcon field="life"></p-sortIcon>
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Unit Template Descripton
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  unit template application
                </th>
                <th pSortableColumn="dateCreated" class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Created Date <p-sortIcon field="dateCreated"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-summary let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="summary">
                <td>
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(summary)" class="p-button-rounded p-button-text"></button>
                  <button *ngIf="!editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-trash"
                    (click)="onRowDelete(summary)"
                    class="p-button-rounded p-button-text p-button-danger p-mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="onRowEditSave(summary)"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(summary, ri)"
                    class="p-button-rounded p-button-text p-button-warning"></button>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" disabled [(ngModel)]="summary.summaryId">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.summaryId}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" disabled [(ngModel)]="summary.masterId">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.masterId}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="summary.eqpFunctionalDesc">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.eqpFunctionalDesc}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td *ngIf="editing">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown appendTo="body" [options]="masters" (onChange)="onAssetChange(selectedMaster)"
                        [(ngModel)]="selectedMaster" optionLabel="oldAssetType" [filter]="true"
                        filterBy="oldAssetType,newAssetType,masterStyle,masterSize,dutyApplication,quality"
                        placeholder="Search asset type">
                        <ng-template pTemplate="selectedMaster">
                          <div *ngIf="selectedMaster">
                            <div>
                              {{selectedMaster.oldAssetType}} - {{ selectedMaster.newAssetType }},
                              {{selectedMaster.masterStyle}}, {{selectedMaster.masterSize}},
                              {{selectedMaster.dutyApplication}}, {{selectedMaster.quality}}
                            </div>
                          </div>
                        </ng-template>
                        <ng-template let-master pTemplate="master">
                          <div>
                            <div>
                              {{master.oldAssetType}} - {{ master.newAssetType }},
                              {{master.masterStyle}}, {{master.masterSize}},
                              {{master.dutyApplication}}, {{master.quality}}
                            </div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td *ngIf="!editing">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="summary.assetType">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.assetType}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="summary.summaryStyle">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.summaryStyle}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="summary.summarySize">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.summarySize}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="summary.dutyApplication">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.dutyApplication}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="summary.quality">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.quality}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="summary.quantity">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.quantity}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="summary.summaryload">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.summaryload}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="date" [(ngModel)]="summary.installmentDate"
                        (change)="onInstallmentChange(summary)">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.installmentDate | date}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="summary.life">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.life}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input disabled pInputText type="text"
                      [(ngModel)]="summary.assetType + ' - ' + summary.summaryStyle + ', ' +
                      summary.summarySize + ', ' + summary.dutyApplication + ', ' +
                      summary.quality">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.assetType + ' - ' + summary.summaryStyle + ', ' +
                      summary.summarySize + ', ' + summary.dutyApplication + ', ' +
                      summary.quality }}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="summary.appDescription">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.appDescription}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText disabled type="text" [(ngModel)]="summary.dateCreated">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{summary.dateCreated | date}}
                    </ng-template>
                  </p-cellEditor>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- asset detail table modal -->
<div class="modal fade" id="detail-table" tabindex="-1" role="dialog" aria-labelledby="detail-table" aria-hidden="true">
  <app-summary-viewdetails-table *ngIf="summaryData.length!=0"
    [summaryArray]="summaryData"></app-summary-viewdetails-table>
</div>
