<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <p class="text-white text-capitalize text-bold ps-3">Record Table</p>
        </div>
      </div>

<!-- Summary table -->
      <div class="card-body px-0 pb-2">
        <div class="flex-end px-3 pb-3 col-md-3">
          <mat-form-field class="example-form-field" appearance="outline" class="text-xs">
            <mat-label>Search assets</mat-label>
            <input matInput type="text" [(ngModel)]="searchText">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="p-0 table-responsive">
          <table class="table table-blocked table-hover mx-3 mb-0">
            <thead>
              <tr>
                <th class="px-2 pb-1 text-sm">
                  <mat-checkbox class="example-margin" [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)"> </mat-checkbox>
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Unit Name
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Asset Type
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Size
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Application/Duty
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Sub Application/Duty
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Quality
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Quantity
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Load
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                  Life
                </th>
                <th class="text-uppercase text-bold text-xs font-weight-bolder ps-5">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let model of summaryArray|searchFilter:searchText">

                <td class="pt-3">
                  <mat-checkbox class="example-margin" (ngModelChange)="updateAllComplete()">
                  </mat-checkbox>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.unitName }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.assetType.name }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.size.desc }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.app.desc }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.subApp.desc }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.quality.desc }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.quantity }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.load/100 | percent }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 text-sm">{{ model.life/100 | percent }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex py-1 ps-3">
                    <div class="d-flex flex-column">
                      <div ngbDropdown>
                        <button class="btn btn-sm bg-gradient-primary" id="gfg" ngbDropdownToggle>Actions</button>
                        <div ngbDropdownMenu="gfg">
                          <button ngbDropdownItem class=""
                          data-bs-toggle="modal" data-bs-target="#modal-form">
                          <i class="material-icons">edit</i>&nbsp;Edit
                        </button>

                          <button ngbDropdownItem class="">
                            <i class="material-icons">copy</i>&nbsp;Duplicate
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
