<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <p class="text-white text-capitalize text-bold ps-3">Users Table</p>
        </div>
      </div>

      <!-- Summary table -->
      <div class="card-body px-0 pb-2">
        <div class="p-0">
          <div class="flex-end px-3 col-md-3">
            <mat-form-field class="example-form-field" appearance="outline" class="text-xs">
              <mat-label>Search Users</mat-label>
              <input matInput type="text" [(ngModel)]="searchText" />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>

          <div class="table-responsive overflow-hidden">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" *ngIf="isLoading"></div>
            </div>
            <table class="table table-blocked table-hover mx-3" *ngIf="!isLoading">
              <thead>
                <tr>
                  <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                    userId
                  </th>

                  <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                    UserName
                  </th>
                  <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                    user Email
                  </th>
                  <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                    Role
                  </th>
                  <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                    Status
                  </th>
                  <th class="text-uppercase text-bold text-xs font-weight-bolder ps-2">
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let user of users | searchFilter: searchText |  paginate: { itemsPerPage: 5, currentPage: p }
                    let i = index
                  ">
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ user.userId }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ user.userName }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ user.userEmail }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ user.role }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ user.userStatus }}</p>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <div class="d-flex py-1">
                          <div class="d-flex flex-column">
                            <div ngbDropdown container="body" class="fix-size">
                              <button class="btn btn-sm bg-gradient-primary" id="gfg" ngbDropdownToggle>
                                Actions
                              </button>
                              <div ngbDropdownMenu="gfg">
                                <button ngbDropdownItem data-bs-toggle="modal" data-bs-target="#modal-assign-client"
                                  (click)="onAssignClient(user.userId)">
                                  <i class="material-icons">people</i>&nbsp; Assign Client
                                </button>
                                <button ngbDropdownItem data-bs-toggle="modal" data-bs-target="#modal-form-pass"
                                  (click)="changeUserPassword(user.userId)">
                                  <i class="material-icons">password</i>&nbsp; Set password
                                </button>
                                <button ngbDropdownItem data-bs-toggle="modal" data-bs-target="#edit-modal-form"
                                  (click)="editUser(user.userId)">
                                  <i class="material-icons">edit</i>&nbsp; Edit
                                </button>
                                <button ngbDropdownItem class="text-danger" (click)="deleteUser(user)">
                                  <i class="material-icons">delete</i>&nbsp;
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls class="user-pagination" (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modal-assign-client" tabindex="-1" role="dialog" aria-labelledby="modal-assign-client"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-plain">
          <div class="card-header pb-0 text-left">
            <h5 class="">
              Assign Client
              <span class="text-right float-end">
                <button data-bs-dismiss="modal" class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                  <i class="material-icons" style="font-size: 30px">close</i>
                </button>
              </span>
            </h5>
            <p class="mb-0">Select clients to assign</p>
          </div>
          <div class="card-body">
            <div class="row">
              <p-listbox [options]="clients" [(ngModel)]="selectedClients"  binary="true"[metaKeySelection]="false"
                  [checkbox]="true" [filter]="false" [multiple]="true" optionLabel="name"
                  [listStyle]="{'max-height':'500px'}" [style]="{'width':'28rem'}" >
                  <ng-template let-client pTemplate="item">
                    <div>
                      <div>{{client.clientName}} </div>
                    </div>
                  </ng-template>
                </p-listbox>

              <div class="text-center mt-2">
                <button type="submit" (click)="onSubmit()" data-bs-dismiss="modal"
                  class="btn bg-gradient-primary m-2">
                  Submit
                </button>
                <button (click)="formReset()" type="button" data-bs-dismiss="modal"
                  class="btn bg-gradient-dark m-2">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
