<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div
          class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
        >
          <p class="text-white text-capitalize text-bold ps-3">Users Table</p>
        </div>
      </div>

      <!-- Summary table -->
      <div class="card-body px-0 pb-2">
        <div class="p-0">
          <div class="flex-end px-3 col-md-3">
            <mat-form-field
              class="example-form-field"
              appearance="outline"
              class="text-xs"
            >
              <mat-label>Search Users</mat-label>
              <input matInput type="text" [(ngModel)]="searchText" />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>

          <div class="table-responsive overflow-hidden">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" *ngIf="isLoading"></div>
            </div>
            <table
              class="table table-blocked table-hover mx-3"
              *ngIf="!isLoading"
            >
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-bold text-xs font-weight-bolder ps-2"
                  >
                    userId
                  </th>

                  <th
                    class="text-uppercase text-bold text-xs font-weight-bolder ps-2"
                  >
                    UserName
                  </th>
                  <th
                    class="text-uppercase text-bold text-xs font-weight-bolder ps-2"
                  >
                    user Email
                  </th>
                  <th
                    class="text-uppercase text-bold text-xs font-weight-bolder ps-2"
                  >
                    Role
                  </th>
                  <th
                    class="text-uppercase text-bold text-xs font-weight-bolder ps-2"
                  >
                    Status
                  </th>
                  <th
                    class="text-uppercase text-bold text-xs font-weight-bolder ps-2"
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let user of users | searchFilter: searchText;
                    let i = index
                  "
                >
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ user.userId }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ user.userName }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ user.userEmail }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ user.role }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">{{ user.userStatus }}</p>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column">
                        <div class="d-flex py-1">
                          <div class="d-flex flex-column">
                            <div ngbDropdown>
                              <button
                                class="btn btn-sm bg-gradient-primary"
                                id="gfg"
                                ngbDropdownToggle
                              >
                                Actions
                              </button>
                              <div ngbDropdownMenu="gfg">
                                <button
                                  ngbDropdownItem
                                  data-bs-toggle="modal"
                                  data-bs-target="#modal-form-pass"
                                  (click)="changeUserPassword(user.userId)"
                                >
                                  <i class="material-icons">password</i>&nbsp; Set password
                                </button>
                                <button
                                  ngbDropdownItem
                                  data-bs-toggle="modal"
                                  data-bs-target="#edit-modal-form"
                                  (click)="editUser(user.userId)"
                                >
                                  <i class="material-icons">edit</i>&nbsp; Edit
                                </button>
                                <button
                                  ngbDropdownItem
                                  class="text-danger"
                                  (click)="deleteUser(user)"
                                >
                                  <i class="material-icons">delete</i>&nbsp;
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
