.fix-size {
  max-height: 25px;
  max-width: 91.969px;
}

table {
  table-layout: fixed;
}

th{
  white-space: normal !important; 
  word-wrap: break-word;
}
td{
  white-space: normal !important; 
  overflow-wrap: break-word;
}
p {
  word-break: break-all;
  white-space: normal;
}
.user-pagination ::ng-deep .ngx-pagination .current {
  background: #ec407a;
  font-family: "Roboto";
  text-decoration: none !important;
  color:white;
}

.user-pagination ::ng-deep .ngx-pagination .ng-star-inserted {
  font-family: "Roboto";
  text-decoration: none !important;
}

.noMarginPadding{
margin: 0px;
padding: 0px;
}