.min-card
{
    background-color: #10A19D;
}
.max-card{
    background: #ed334f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Data-Wrap{

  white-space: normal !important;
  width:250px;
  word-wrap: break-word;

}