 <div class="container-fluid py-4">

    <div class="container-fluid py-4">
      <!-- updates -->
      <div class="row">
        <div class="col-xl-12 col-sm-6 mb-xl-0 mb-4">

        </div>

      </div>
      <!-- ------ -->

      <!-- stats/graphs -->
      <app-dummy-charts></app-dummy-charts>
      <!-- ----------- -->

      <div class="row mb-4">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
        </div>

        <div class="col-lg-4 col-md-6">
        </div>

      </div>
    </div>
  </div>
