

  <div class="container-fluid py-4">
    <!-- updates -->
    <div class="row">
      <div class="col-xl-12 col-sm-6 mb-xl-0 mb-4">

      </div>

    </div>
    <!-- ------ -->

    <!-- stats/graphs -->
    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 mt-4 mb-4">

      </div>
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
      </div>
      <div class="col-lg-4 mt-4 mb-3">

      </div>
    </div>
    <!-- ----------- -->

    <div class="row mb-4">
      <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
        <app-projects-table-card></app-projects-table-card>
      </div>

      <div class="col-lg-4 col-md-6">
        <app-orders-overview-card></app-orders-overview-card>
      </div>

    </div>
  </div>

