<aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
  id="sidenav-main"
  *ngIf="showSideNav">
  <app-side-navbar></app-side-navbar>
</aside>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
  <app-navbar></app-navbar>
  <div class="container-fluid py-4">
    <button (click)="toggleShowSideNav()" type="button" class="btn bg-gradient-primary mb-6 mt-3 text-right" data-bs-toggle="modal"
      data-bs-target="#modal-form">
      Create DropDown
    </button>
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h5 class="">DropDown</h5>
                <p class="mb-0">Enter DropDown Details</p>
              </div>
              <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="submitForm()" role="form text-left">
                  <div class="input-group input-group-outline my-3">
                    <label class="form-label">Asset Type</label>
                    <input type="text" formControlName="assetType" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>
                  <div class="input-group input-group-outline my-3">
                    <label class="form-label">Size</label>
                    <input type="text" formControlName="size" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>
                  <div class="input-group input-group-outline my-3">
                    <label class="form-label">Duty/Application</label>
                    <input type="text" formControlName="duty_Application" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>
                  <div class="input-group input-group-outline my-3">
                    <label class="form-label">Quality</label>
                    <input type="text" formControlName="quality" class="form-control" onfocus="focused(this)"
                      onfocusout="defocused(this)" />
                  </div>
                  <div class="text-center">
                    <button (click)="toggleShowSideNav()" type="submit" data-bs-dismiss="modal" class="btn bg-gradient-primary m-2">
                      Create
                    </button>
                    <button (click)="toggleShowSideNav()" type="button" data-bs-dismiss="modal" class="btn bg-gradient-secondary m-2">
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-dropdown-table [dropDownArray]="dropDownArray"></app-dropdown-table>

  </div>
  <app-footer></app-footer>
</main>
<app-setting-plugin></app-setting-plugin>
