  <div class="container-fluid py-4">
    <button type="button" class="btn bg-gradient-primary mx-2 mb-4 text-right"
      data-bs-toggle="modal" data-bs-target="#modal-form">
      Create Dropdown
    </button>
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h5 class="">Dropdown
                  <span class="text-right float-end">
                    <button data-bs-dismiss="modal"
                      class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                      <i class="material-icons" style="font-size: 30px">close</i>
                    </button>
                  </span>
                </h5>
                <p class="mb-0">Enter Dropdown Details</p>
              </div>
              <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="submitForm()" role="form">

                  <div class="row">

                    <div class="col-md-6">

                      <div class="mx-4 my-1">
                        <label class="form-label text-bold">Asset Type</label>
                        <div class="input-group input-group-outline">
                          <input type="text" formControlName="assetType" class="form-control" placeholder="Please Enter Asset Type" onfocus="focused(this)"
                            onfocusout="defocused(this)" />
                        </div>
                      </div>
                      <div class="mx-4 my-1">
                        <label class="form-label text-bold">Size</label>
                        <div class="input-group input-group-outline">
                          <input type="text" formControlName="size" class="form-control" placeholder="Please Enter Size" onfocus="focused(this)"
                            onfocusout="defocused(this)" />
                        </div>
                      </div>

                    </div>

                    <div class="col-md-6">

                      <div class="mx-4 my-1">
                        <label class="form-label text-bold">Duty/Application</label>
                        <div class="input-group input-group-outline">
                          <input type="text" formControlName="duty_Application" class="form-control" placeholder="Please Enter Duty/Application"
                            onfocus="focused(this)" onfocusout="defocused(this)" />
                        </div>
                      </div>
                      <div class="mx-4 my-1">
                        <label class="form-label text-bold">Quality</label>
                        <div class="input-group input-group-outline">
                          <input type="text" formControlName="quality" class="form-control" placeholder="Please Enter Quality"
                          onfocus="focused(this)" onfocusout="defocused(this)" />
                        </div>
                      </div>

                    </div>

                  </div>


                  <div class="text-center mt-2">
                    <button type="submit" data-bs-dismiss="modal"
                      class="btn bg-gradient-primary m-2">
                      Create
                    </button>
                    <button type="button" data-bs-dismiss="modal"
                      class="btn bg-gradient-secondary m-2">
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-dropdown-table [dropDownArray]="dropDownArray"></app-dropdown-table>

  </div>
