
<aside
 class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
 id="sidenav-main">
 <app-side-navbar></app-side-navbar>
</aside>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
  <app-navbar></app-navbar>
 <div class="container-fluid py-4">
  <button type="button" class="btn bg-gradient-primary mb-6 mt-3 text-right" data-bs-toggle="modal"
    data-bs-target="#modal-form">Create DropDown</button>
  <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h5 class="">DropDown</h5>
              <p class="mb-0">Enter DropDown Details</p>
            </div>
            <div class="card-body">
              <form [formGroup]="form" (ngSubmit)="submitForm()" role="form text-left">
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Asset Type</label>
                  <input type="text" formControlName="assetType" class="form-control" onfocus="focused(this)"
                    onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Size</label>
                  <input type="text" formControlName="size" class="form-control" onfocus="focused(this)"
                    onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Duty/Application</label>
                  <input type="text" formControlName="duty_Application" class="form-control" onfocus="focused(this)"
                    onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Quality</label>
                  <input type="text" formControlName="quality" class="form-control" onfocus="focused(this)"
                    onfocusout="defocused(this)">
                </div>
                <div class="text-center">
                  <button type="submit" data-bs-dismiss="modal" class="btn bg-gradient-primary m-2 ">Create</button>
                  <button type="button" data-bs-dismiss="modal" class="btn bg-gradient-secondary m-2">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Dropdown Table</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Asset Type</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Size</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Duty/Application</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quality</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let model of dropDownArray">
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{model.assetType}}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{model.size}}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="text-secondary text-xs font-weight-bold">{{model.duty_Application}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{model.quality}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
   <app-footer></app-footer>
</main>
<app-setting-plugin></app-setting-plugin>

