
/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/dist/css/bootstrap.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';

::-moz-selection { /* Code for Firefox */
  color: #E53471;
  background: rgb(222, 217, 217);
}

::selection {
  color: #E53471;
  background: rgb(222, 217, 217);
}
